#TopNav {border:0pt solid black;margin-bottom:10pt;margin-top:40px;}
#SideNav {clear:both;border:0pt solid black;margin-left:10pt;margin-right:10pt;margin-top:10px;position:absolute;top:70px;left:10px;width:175px;}
	#SectionNav {margin-left:10pt;float:left;border:0pt solid blue;}
		.SectionNavItemSelected {font-weight:bold;}
		
	#AccountNav {position:relative;float:right;}
		.AccountNavItem {position:relative;float:right;padding:5pt;border-right:1pt solid black;}
		.AccountNavItemLast {border-right:0pt solid black;}
		
/*#BodyDiv {border:0pt solid red;clear:both;margin:15%;margin-top:0pt;margin-bottom:20pt;}
.BodyDiv {border:0pt solid red;clear:both;margin:15%;margin-top:0pt;margin-bottom:20pt;}*/
.BodyModal {border:0pt solid red;width:80%;}

#Organization_Start_NotSignedup {text-align:center;}
#Organization_Start_NotSignedUp_startlinks {text-align:left;padding-left:20%;}
#SeeHowItWorks {float:left;}

#Table_Events {clear:both;margin-top:10px;}
#Table_Events table{border:1pt solid black;padding:0px;}
#Table_Events th, #Table_Events td{border-right:1pt solid black;padding:3px;}
#Table_Events hr{margin:0px;border;1pt solid black;}


#Merchant_Events {clear:both;margin-top:10px;}
#Merchant_Events table{border:1pt solid black;padding:0px;}
#Merchant_Events th, #Merchant_Events td{border-right:1pt solid black;padding:3px;}
#Merchant_Events hr{margin:0px;border:1pt solid black;}

#OrganizationEvent_UnAccepted {height:300px;overflow:auto;}
#Organization_Events {clear:both;margin-top:10px;}
#Organization_Events table{border:1pt solid black;padding:0px;}
#Organization_Events th, #Organization_Events td{border-right:1pt solid black;padding:3px;}
#Organization_Events hr{margin:0px;border:1pt solid black;}
#Organization_CreateEvent_ChooseDate {border:1pt solid black;padding:10px;padding-bottom:20px;position:relative;width:79%;height:120px;}
.InputDate {width:75px;}
.InputTitle {width:100px;float:left;text-align:right;}
.InputInput {float:left;padding-right:10px;}
.InputWide {width:80%;}
.InputNarrow {width:50%;}
.InputNarrower{width:35%;}
.InputVeryNarrow{width:15%;}
.InputRowSpace {height:30px;clear:both;width:100%;padding-left:25%;}
#Recurrance {position:relative;display:none;float:none;border:0pt solid black;padding-top:5px;height:80px;}
#Recurrance_Type {float:left;border-right:1pt solid black;padding-right:10px;}
#Recurrance_Frequency {float:left;padding-left:10px;}
#FrequencySpan {padding-left:3px;}
.UnderLineTitle {text-decoration:underline;padding-bottom:5px;}
.LineSeparator {border-bottom:1pt solid black;margin-bottom:10px;}
.PickableImage {cursor:pointer;}

#Organization_CreateEvent_Optionals {position:relative;border-top:0pt solid black;width:100%;}
#Organization_CreateEvent_BizMatch {position:relative;border-top:2pt solid black;margin-top:20px;padding:20px;}
#MerchantCreateEvent {float:left;}

.Individual_GetAlert {width:300px;position:relative;left:-30px;float:left;}
.SearchForMerchants {position:relative;float:right;}
.RegisterForFree {position:relative;float:right;}
.Organization_JoinNow_Button {position:relative;float:right;margin-top:25px;}

.ProgressBarTable {width:100%;padding:0pt;margin:0pt;}
.ProgressHeader {border:0pt solid white;}
.ProgressHeaderItem {position:relative;float:left;text-align:center;}
.ProgressBarTable td{text-align:center;}
.ProgressRow {border:1pt solid black;clear:both;}
.ProgressRowItem {position:relative;float:left;border-top:1pt solid black;border-bottom:1pt solid black;}
.ProgressCompleted {background-color:silver;}

.ProgressDescription {border:0pt solid silver;margin-top:15px;}

#EnterEIN {text-align:center;padding:20px;}
#EnterEIN td{border:0pt;}
.EnterEIN {color:silver;border:1pt solid black;width:180px;font-size:16pt;}
.EnterYelpID {color:silver;border:1pt solid black;width:400px;font-size:14pt;}
#EINLookupResults {clear:both;color:red;font-weight:bold;text-align:left;}

#Proceed {position:relative;clear:both;float:left;}
#DisplayAPIResults {border:0pt solid red;}
#ApproveAPIResults {float:left;margin-left:20px;}
.DisplayAPIResults {border:0pt solid black; float:left;padding:5px;margin-left:5px;margin-bottom:5px;font-size:14pt;}
.InputOrgContactDiv {text-align:center;}
.InputOrgContact{float:left;font-size:14pt;color:silver;width:93%;margin:10px;}
.InputOrgEvent{font-size:14pt;color:black;width:80%;margin:10px;}
.InputZipCode {width:20%;}
.InputDescription {color:black;}
.InputOrgEventNarrow{width:40%;}
.InputOrgEventVeryNarrow{width:20%;}
#OrganizationConfigs {font-size:14pt;padding-left:200px;}
#OrganizationConfigs td{padding:10px;border:0pt;}

#PartnerPickerIframe {width:100%;}
.PartnerPickerRow {width:90%;}
.PartnerPickerCheck {float:left;width:40px;height:100px;border:0pt solid red;padding:5px;padding-top:2px;font-size:10pt;color:blue;}
.PartnerPickerName {float:left;width:300px;border:0pt solid black;padding:5px;}
.PartnerPickerBizImage {float:left;width:100px;border:0pt solid red;padding:5px;}
.PartnerPickerRating {float:left;width:200px;border:0pt solid green;padding:5px;}
.PartnerPickerReviews {clear:both;width:80%;height:35px;border-bottom:1pt solid silver;padding:5px;}

.YelpBizName {font-size:10pt;font-weight:bold;color:blue;}
.YelpBizImage {padding-right:10px;}
.YelpCategoriesLabel {font-size:8pt;}
.YelpCategories {font-size:8pt;color:blue;}
.YelpReviewImage {height:30px;vertical-align:text-top;}
.YelpPoweredByLogo {float:right;}
.imagebutton {cursor:pointer;}

#Footer {border-top:1pt solid black;text-align:center;clear:both;}
.PrivacyPolicyLink {text-align:center;font-size:12pt;color:black;}

.MerchantSearch {
	background:transparent url(images/searchbox_bkg.gif) no-repeat left top;
    margin:0;
    max-width:230px;
    padding-left:16px;
	font-size:14pt;
	color:silver;
	margin:10px;
}
.AdvancedSearch {font-size:8pt;}

.AltRow {background-color:silver;}
.NewRow {clear:both;}
.SessionAlert {border:1pt solid red;background-color:yellow;font-weight:bold;padding:3px;}

.Review {clear:both;border:0pt solid red; padding-left:20px;margin-left:35px;}
.ReviewRating {font-weight:bold;}
.ReviewTitle {text-decoration:underline;}
.ReviewText {color:blue;}

.Header1 {font-size:14pt;font-weight:bold;}

.CreateEventSuccess_Title{text-align:center;padding:5pt;}
.CreateEventSuccess_EventBritePosting {text-align:center;font-weight:bold;padding:5pt;}
.CreateEventSuccess_FaceBookPosting {text-align:center;font-weight:bold;border:2pt solid black;background-color:silver;padding:5pt;}
.CreateEventSuccess_AddThis {margin:auto;text-align:center;font-weight:bold;padding:5pt;}
.CreateEventSuccess_EventDetails {text-align:center;font-weight:bold;border:2pt solid black;background-color:silver;padding:5pt;}

#barcount {background-color:#5fbbde;width:0px;height:16px;}
#barbox {float:right; height:16px; background-color:#FFFFFF; width:100px; border:solid 2px #000; margin-right:3px;-webkit-border-radius:5px;-moz-border-radius:5px;}
#count {float:right; margin-right:8px; font-family:'Georgia', Times New Roman, Times, serif; font-size:16px; font-weight:bold; color:#666666}

.transaction-table {margin-top:10px;}
.transaction-table th {font-weight:bold; border-bottom: 2px solid #444;text-align:left; padding: 2px 3px 0;}
.transaction-table td {border-bottom: 1px dotted #444; padding:6px 8px 0;}
.transaction-table tbody tr:hover {color:black;background-color:#EEE;}
.transaction-table tfoot td {border-top:2px solid #444;border-bottom:1px solid #444;}


#wrapper {
//background: transparent url("../images/Skeleton-Grid.png") no-repeat -30px top;
}
#content {
    padding-top: 20px;

}
.logo-img {
    display:block;
    background: transparent url("../images/ctlogo_w150.png") no-repeat;
    height: 150px;
    width: 150px;
    padding-bottom:30px;
    text-indent: -9999px;
}

.icon-img{
    display:block;
    background: transparent url("../images/cticon_w48.jpg") no-repeat;
    width: 48px;
    height: 22px;
    padding-bottom:20px;
    text-indent:-9999px;
}

#sidebar {
//padding-top: 40px;
}


#main {

}

#custom-header {
    background-color: #EEE;
    height: 45px;
}
#custom-header > div {
    /*width: 960px;*/
    margin: 0 auto;
}
#action-bar {
    float:right;
    /*height: 50px;*/
    margin-right: 50px;
}

#results h2 {font-size:2em;}

/* forms */
.undo-action {background-color:pink;cursor:pointer;}

input[type="button"]{
    width: 100%;
    text-align: left;
    height:30px;
}

a.button.full {
    display:block;
}

#footer {
    text-align:center;
    background-color: #EEE;
}

.no-wrap { white-space:nowrap; }

form .alert, span.alert {
    color: red;
    font-weight: bold;
}

form input.watermarked {
    color: silver;
}

form label input.error {margin-bottom:0;}
form label textarea.error {margin-bottom:0;border: 1px dotted red;}
form label label.error {font-size:12px;margin-bottom:20px;}
form label.inline {display:inline;}

.field-display label {display:inline; font-size:1.1em;text-align:right;}
.field-display span {font-size:1.1em;}

form .help {color:#444;font-size:0.8em;font-style:italic;}
form label .ProgressDescription {display:block;margin-bottom:20px;}
form input.with-help {margin-bottom:0;}

td.numeric {text-align:right;}

a.mobile-alt, .mobile-alt, .mobile-alt-inline {display:none;}

/* alpha ribbon */
.alpha {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    z-index: 5000;
}

/* sticky footers */
html, body {height: 100%;}
#wrapper {min-height: 100%;}
.container {overflow:auto; padding-bottom: 82px;}  /* must be at least same height as the footer */
#custom-header.container {padding-bottom: 32px;}
#footer {position: relative;
    margin-top: -62px; /* negative value of footer height */
    height: 62px;
    clear:both;}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

.rounded-corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

.vertical-space{
    display:block;
    position:relative;
    height: 2em;
}

/* Contact Us */
#contact-us h2 {text-align:center;}
.contact-us-row {width:100%;margin:20px auto;}
.contact-us-label {text-transform:uppercase;font-size:2em;text-align:right;line-height:50px;width:95px !important;}
.contact-us-label.short {line-height:1;}
.contact-us-label.tall {line-height:100px;}
.contact-us-text {padding-left:25px;}
.contact-us-text ul {list-style-type:disc;margin-bottom:0;padding-left:25px;}
.contact-us-text li {margin-bottom:0;padding-right:25px;}
#contact-us form {
    margin:20px;
    width:90%;
}

/*Signup Information*/
.sign-up-info ul {margin:0 0 10px 0;list-style-type:disc;padding:0 25px 0 25px;}
.sign-up-info ul li {margin-bottom:0.2em;}
p.list-intro {margin-bottom:0.2em;}

/* Privacy Policy, Terms & Conditions */
div.legal {font-family:'Times New Roman';margin:0;color:#444;font-size:12pt;}
div.legal p {margin:0 0 1em 0;font-size:12pt;}
div.legal p.justify {text-align:justify;}
div.legal h1 {font-family:'Times New Roman';font-size:14pt;font-weight:bold;color:#444;}
div.legal h2 {font-family:'Times New Roman';font-size:12pt;font-weight:bold;color:#444;line-height:1.1em;margin:10px 0 0 0;}
div.legal .section, div.legal .names {text-decoration: underline;}
div.legal .liability-limits{text-transform: uppercase;}
div.legal .super{font-size:8pt;vertical-align:super;}
div.legal .contact{margin-left:30%;}
div.legal .center{text-align:center;}
div.legal a {text-decoration: underline;color:inherit;}

/* FAQ */
#faq {margin: 3em;}
#faq .question {color:#444;font-weight:bold;}
#faq .answer ol {list-style-type: lower-alpha;}
#faq ol ol {font-size:100%;}

/* Home Page Events */
.event_listing {
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
    border-bottom: #EDEDED solid 1px;
}
.event_listing > td {
    padding: 15px 5px;
    vertical-align: top;
}
.event_listing > .date > strong {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}
.event_info > h4 {
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    line-height: 20px;
}
.event_info a {
    color: #412514;
    text-decoration: none;
}
.when_where > tr > th {
    font-weight: 600;
    padding-right: 4px;
}

#find-more-link {
    display:block;
    font-weight:bold;
    font-style: italic;
    font-size: 14px;
    margin: 10px 0 15px 0;
}
#find-more-link span{
    font-size:10px;
}
#pagination-bottom {
    float:right;
    margin:15px 0 0 0;
}
#pagination-top{
    float:right;
}
.event-list-container{
    border-top:1px #DDD solid;
}
.eventresult {
    padding: 6px 6px 10px 0;
    margin-left: 11px;
    border-bottom: 1px #DDD solid;
}
.eventresult .dateimage {
    float: left;
    width: 87px;
}
.caldate {
    height: 19px;
    font-weight: bold;
    line-height: 21px;
    color: white;
    text-align: center;
    background-color: #BCBCBC;
    border-bottom: 1px white solid;
}
.eventinfo_c {
    float: left;
    width: 410px;
}
.eventinfo {
    padding: 0px 11px 0;
}
.eventname h2 {
    word-wrap: break-word;
    font-size: 20px;
    line-height: 23px;
    margin: -2px 0 1px;
}
a:link, a:active, a:visited {
    color: #412514;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.button:hover {
    text-decoration: none;
}
.eventdate h2 {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 3px;
    color: #555;
}
.eventdate h2 span {
    font-size: 12px;
    font-weight: normal;
    color: #777;
}
.eventcause h3 {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}
.eventdetails {
    font-size: 12px;
    line-height: 15px;
    color: #555;
    margin: 13px 0;
    padding-left: 11px;
}
.eventdetails a {
    font-weight: bold;
}
.location_c {
    float: right;
    width: 179px;
    text-align: right;
}
.city {
    margin: 14px 0 2px;
}
.city span {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.venue {
    word-wrap: break-word;
    font-size: 12px;
    color: #777;
    margin: 0 0 5px;
}
.venue a, .venue span {
    font-size: 14px;
    line-height: 17px;
}
.venue a {
    font-weight: bold;
}
.distance {
    font-size: 11px;
    font-weight: bold;
    color: #555;
}
.distance span {
    font-size: 11px;
    font-weight: normal;
    color: #777;
}

.home-trip{
/*    height:270px;
    width:auto;*/
}

.home-trip a{
    position:relative;
    width:28%;
    height:270px;
    float:left;
    padding:10px;
    margin:4px;
    border:1px solid #9e8d80;
    text-align: center;
    display: block;
}
.home-trip a#businesses-signup {
    background: transparent url(../images/merchants.jpg) no-repeat center center;
}
.home-trip a#nonprofits-signup {
    background: transparent url(../images/nonprofits.jpg) no-repeat center center;
}
.home-trip a#consumers-signup {
    background: transparent url(../images/consumers.jpg) no-repeat center center;
}

.home-trip a:link, .home-trip a:active, .home-trip a:visited{
    text-decoration:none;
    margin-bottom:2px;
    margin-right:1px;
    color:inherit;
}

.home-trip a:hover{
    border-bottom:2px solid #9e8980;
    border-right:2px solid #9e8980;
    margin-right:0;
    margin-bottom:1px;
    color:#412514;
}

.home-trip h3{
    color:inherit;
}
.home-trip a p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

/* for mobile only */
.alpha-hook:before {
    content: "alpha";
    background-color: #ff7000;
    padding: 0 15px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 60px;
    top: 21px;
}
/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .logo-img {
        display:block;
        background: transparent url("../images/ctlogo_w125.png") no-repeat;
        height: 125px;
        width: 125px;
        padding-bottom:30px;
    }
    .eventinfo_c{
        width: 300px;
    }
    .full-site{display:none;}

    #faq {margin: 1em;}
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

    #sidebar:before {
        content: "alpha";
        background-color: #ff7000;
        padding: 0 15px;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 60px;
        top: 21px;
    }

    .logo-img {
        display:inherit;
        text-indent: 0;
        background: inherit;
        height: inherit;
        width: inherit;
        padding: inherit;
    }
    .alpha {display:none;}

    .no-mobile {display:none;}
    a.mobile-alt, .mobile-alt {display:block;}
    .mobile-alt-inline {display:inline;}

    .contact-us-text {padding-left:0;}
    .contact-us-label {text-transform:uppercase;font-size:2em;text-align:center;line-height:50px;width:100% !important;}
    .contact-us-label.short {line-height:50px;}
    .contact-us-label.tall {line-height:50px;}
    #contact-us form {
        margin:5px 0 0 0;;
        width:100%;
    }

    .field-display label {display:inline; font-size:1.1em;text-align:left;}
    .field-display span {font-size:1.1em;}

    #faq {margin: 1em;}
    #faq h3{font-size:16pt;}

    .event_listing > .date {
        display: none;
    }
    .eventinfo_c{
        width:auto;
    }
    .caldate {display:none;}
    .location_c {text-align: left;float:none; margin-left:10px;}
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .contact-us-label.short {line-height:50px;}
}