/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
  font: 18px/1.4 Georgia, serif;
}
h1,h2,h3,h4,h5{
    font-family:'Yanone Kaffeesatz', sans-serif;
}
.band {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.hidden, .container .hidden {display:none;}
.calendar_box {
  color: #fafff5;
  background: transparent url(../images/calendar_box_sprite.png) no-repeat left top;
  height: 81px;
  width: 92px;
  position: relative;
  font: 45px 'Yanone Kaffeesatz', sans-serif;
}
.calendar_box span {
  position: absolute;
  top: 16px;
  left: 25px;
}
ul.alt-list{
  border-bottom:1px dotted #e5e5e5;
}
ul.alt-list li {
  border-top: 1px dotted #e5e5e5;
  margin-bottom:0;
  padding:5px;
}
.even {
  background-color: #f4f4f1;
}
.ie7 .btn {
	display: inline;
	background-color: #6d9063;
}
.btn {
  font: 18px 'Yanone Kaffeesatz', sans-serif;
  display: inline-block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b8b7b6;
}
.btn input, .btn a {
  padding: 5px 17px;
  color: #f9fff9;
  margin: 0;
  display: inline-block;
  font: 18px 'Yanone Kaffeesatz', sans-serif;
  border: none;
  font-weight: normal;
  background: none;
  background-color: #6d9063;
}
.btn input:hover, .btn a:hover {
  cursor:pointer;
  text-decoration: underline;
}
.btn a.inactive,
.btn input.inactive{
    background-color: #d0cec3;
}
.btn a.inactive:hover,
.btn input.inactive:hover{
    text-decoration: none;
    cursor:default;
}
.btn.delete{
    border: 1px solid #ED2015;
}
.btn.delete a{
    background-color: #F7948F;
    color: #333;
}

.btn.administer a{
    background-color: #F9AE46;
    color:#333;
}

.btn.cancel a{
    background-color: gray;
}

.step_btn {
  position: relative;
  margin: 10px;
  display: inline-block;
  background-color: #ffffff;
  overflow: hidden;

  width: 140px;
  height: 35px;

  font: 18px 'Yanone Kaffeesatz', sans-serif;

  -webkit-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #b8b7b6;

}
#wrapper .step_btn span, .step_btn span {
  position: absolute;
  top: 6px;
  left: 15px;
  color: #9b9b9a;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.step_btn a {
  background-color: #6d9063;
  padding: 20px 17px;
  position: absolute;
  right: 0px;
  top: -14px;
  color: #f9fff9;
}

/* #Page Styles
================================================== */
#header_band {
  height: 60px;
  background: transparent url(../images/brown_cross_pattern.jpg) repeat left bottom;
  position: relative;
  z-index: 2;
}
#header_nav {
  position: relative;
  height: 100%;
}
#header_nav ul, #footer ul {
  float: right;
  margin: 20px 10px 0 0;
}
#header_nav ul li, #footer ul li {
  color: #ffffff;
  float: left;
  margin: 0 5px 0 0;
  font: 20px/1 Tahoma, Geneva, sans-serif;

}
#header_nav ul li a, #footer ul li a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#header_nav a#logo {
  position: absolute;
  top: 28px;
  left: 5px;
}
#header_nav a#logo img.home-page,
#header_nav a#logo img.mobile {
  display: none;
}
#header_nav a#logo img {
/*  -webkit-box-shadow: 0px 1px 10px 0px #000000;
  box-shadow: 0px 1px 10px 0px #000000; */
}
body#home-page #header_nav a#logo img.home-page {
  display:block;
}
body#interior-page #header_nav a#logo {
    left:25px;
}
body#home-page #header_nav a#logo img.interior{
  display:none;
}
#banner_band {
  display:none;
}
body#home-page #banner_band {
  display:block;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
#banner_band #upper_stitch {
  height: 15px;
  background: white url(../images/individual_stitch.jpg) repeat-x left 7px;
  width: 99.9%;
  transform: rotate(-0.2deg);
  -ms-transform: rotate(-0.2deg); /* IE 9 */
  -moz-transform: rotate(-0.2deg); /* Firefox */
  -webkit-transform: rotate(-0.2deg); /* Safari and Chrome */
  -o-transform: rotate(-0.2deg); /* Opera */
}
#banner_band #lower_stitch {
  height: 100px;
  width: 99.9%;
  background: white url(../images/individual_stitch.jpg) repeat-x left 88px;
  position: absolute;
  bottom: -18px;
  left: 0px;
  z-index: 1;

  transform: rotate(-1deg);
  -ms-transform: rotate(-1deg); /* IE 9 */
  -moz-transform: rotate(-1deg); /* Firefox */
  -webkit-transform: rotate(-1deg); /* Safari and Chrome */
  -o-transform: rotate(-1deg); /* Opera */
}

#banner {
  height: 140px;
  position: relative;
  z-index: 2;
}
#banner_caption {
  position: absolute;
  top: 15px;
  right: 25px;
  text-align: center;
}
#banner_caption h1,
#banner_caption span {
  color: #779068;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: inline;
}
#banner_caption h1 {
  font-size: 35px;
  font-weight: bold;
}
#banner_caption span {
  font-size: 24px;
  padding-left: 22px;
  background: transparent url(../images/speaker_icon2.png) no-repeat left 6px;
  margin-left: 5px;
}
#banner_caption p {
  color: #747372;
  font: 16px Georgia, Serif;
  margin: 0;
}
#banner_caption p a {
  color: #f76220;
  font: bold 24px/1.4 'Yanone Kaffeesatz', sans-serif;
  margin-left: 5px;
}
#featured_section_band{
  height: 130px;
  position:relative;
}
body#home-page #featured_section_band{
  height:auto;
}
#featured_section_band {
  background: transparent url(../images/beige-pattern.png) repeat left top;
}
.featured_section{
  color: #664b39;
  height:100%;
}
#navigation {
  padding: 70px 0 25px 0;
}
#navigation p {
  text-align: center;
}
#navigation p span {
  font-weight: bold;
}
.social_nav, .round_links {
  overflow: hidden;
  width: 200px;
  margin: 0 auto;
}
.social_nav li, .round_links li {
  float: left;
}
.social_nav li a {
  display: inline-block;
  padding: 25px;
  background: transparent url(../images/sprite_social_icons.png) no-repeat left top;
}
.social_nav li a.twitter {
  background-position: 0 0;
}
.social_nav li a.facebook {
  background-position: -56px 0;
}
.social_nav li a.flickr {
  background-position: -110px 0;
}
.social_nav li a.rss {
  background-position: -163px 0;
}
.social_nav li a span, .round_links li a span {
  display: none;
}
.round_nav li a {
  display: inline-block;
  padding: 25px;
  background: transparent url(../images/sprite_round_navigation.png) no-repeat left top;
}
.round_nav li a.home {
  background-position: 0 0;
}
.round_nav li a.find_events {
  background-position: -56px 0;
}
.round_nav li a.create_events {
  background-position: -110px 0;
}
.round_nav li a.how_it_works {
  background-position: -163px 0;
}
.site_nav li a {
  font: bold 24px 'Yanone Kaffeesatz', sans-serif;
  display: block;
  height: 35px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.site_nav li a:hover{
  text-decoration: none;
}
.site_nav li a.find_events, #right_rail li a.profile, #right_rail li a.password {
  background: #719764 url(../images/greenBG.gif) repeat left top;
  color: #3f4a38;
  text-shadow: 1px 1px 3px #C0CDB1;
}
.site_nav li a.create_events {
  background: #f9ae46 url(../images/yellowBG.gif) repeat left top;
  color: #975403;
  text-shadow: 1px 1px 3px #FCD3A1;
}
.site_nav li a.how_it_works, #right_rail li a.my_events {
  background: #ee6f44 url(../images/salmonBG.gif) repeat left top;
  color: #7e3011;
  text-shadow: 1px 1px 3px #FAC7AE;
}
#right_rail li a.sales, #right_rail li a.donations {
  background-color: #664B39;
  color: #fff;
}
#page_header {
  position:absolute;
  top:25%;
  left:25%;
}
body#home-page #page_header {
  padding: 50px 0 0 0;
  position: relative;
}
#page_header h1 {
  font: bold 46px 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: #664b39;
}
#page_header.no-wrap h1{
  font-size:40px;
}
#page_header p {
  text-align: center;
  color: #664b39;
}
#featured_content {
  padding: 50px 0 25px 0;
  position: relative;
}
.user_types {
  min-height: 365px;
}
#featured_content h2, #sign-up-info div h2, #merchant-create-event div h2 {
  font: bold 26px 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  text-align: center;

}
#sign-up-info.partner-page div h2{
    font-size: 35px;
    text-transform:none;
    color: #664b39;
    margin:25px auto;
}
#featured_content h2 span, #sign-up-info div h2 span, #merchant-create-event div h2 span {
  background-color: #fff;
  padding: 0 5px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#featured_content p {
  width: 190px;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 20px;
  color: #664b39;
}
#featured_content #non_profits, #sign-up-info #non_profits {
  background: transparent url(../images/non_profits.png) no-repeat center 51px;
  position:relative;
}
#featured_content #local_businesses, #sign-up-info #local_businesses, #merchant-create-event #local_businesses {
  background: transparent url(../images/local_businesses.png) no-repeat center 40px;
  background-position-x: 89%;
  position:relative;
}
#featured_content #consumers, #sign-up-info #consumers {
  background: transparent url(../images/consumers.png) no-repeat center 40px;
  position:relative;
}

#featured_content #non_profits h2, #sign-up-info #non_profits h2 {
  color: #e84f13;
}
#featured_content #local_businesses h2, #sign-up-info #local_businesses h2, #merchant-create-event #local_businesses h2 {
  color: #aa6413;
}
#featured_content #consumers h2, #sign-up-info #consumers h2 {
  color: #769366;
}
#sign-up-info h3, #sign-up-info h4, #sign-up-info h5{
  color: #664b39;
  text-align:center;
  font-weight:bold;
}
#body_section_band {
  background-color: #ffffff;
  background: transparent url(../images/individual_stitch.jpg) repeat-x left 8px;
}

.bottom_body_section_stitch {
  clear: both;
  height: 15px;
  background: transparent url(../images/individual_stitch.jpg) repeat-x left top;
}
#main, #right_rail {
  float:right;
}
#main, #right_rail div {
  margin-top: 20px;
  min-height: 350px;
}
#main{
  margin-bottom:10px;
}
#right_rail div{
  margin-top:50px;
}
#main .user_types{
  min-height: 280px;
}
.sub_section {
    padding:20px 0;
    overflow:hidden;
    border-bottom: 1px dotted gray;
}
#events_section {
  padding: 50px 0;
  overflow: hidden;
}
#events_section .calendar_box, .sub_section .calendar_box {
  float: left;
  margin-right: 20px;
}
#events_section .event_text, .sub_section .event_text {
  width: 530px;
  float: left;
}
#events_section h2, .sub_section h2 {
  color: #807f7e;
  font: bold 32px 'Yanone Kaffeesatz', sans-serif;
  margin: 0 0 20px 20px;
}
.administer_section{
    padding: 10px;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.administer_section h3{
    color: #807f7e;
    font: bold 28px 'Yanone Kaffeesatz', sans-serif;
}
.sub_section.merchant-private h2{
    color: #F9AE46;
}
#events_section li, .sub_section li {
  padding: 30px 20px;
  overflow: hidden;
  border-top: 1px dotted #807f7e;
  margin-bottom: 0;
}
#events_section li a, .sub_section li a {
  display: block;
  color: #7c9a6c;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px;
}
#events_section li p, .sub_section li p {
  line-height: 1;
  margin-bottom: 3px;
  font-size: 14px;
  color: #807f7e;
}
#events_section .event_text .cause a,
.sub_section .event_text .cause a,
#events_section .event_text .venue a,
.sub_section .event_text .venue a{
  display:inline;
  font-size:inherit;
}
#pagination-bottom {
  float:right;
}
#pagination-top{
  float:right;
  margin:5px;
}
#footer {
  clear: both;
  height: 90px;
  background: transparent url(../images/brown_cross_pattern.jpg) repeat left top;
}
#footer ul li span {
  font-size: 0.8em;
  margin-right: 5px;
}
#footer ul {


}

span.sec-item {
    float:right;
    font-size:0.8em;
}
#public-profile-merchant #events_section{
    padding:20px 0;
}

#register_now_buttons{
  margin-top:15px;
}
#register_now_buttons a {
  font: bold 24px 'Yanone Kaffeesatz', sans-serif;
  display:inline-block;
  height: 35px;
  width: 200px;
  margin: 0 auto;
  margin-bottom:10px;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#register_now_buttons a:hover{
  text-decoration: none;
}
#register_now_buttons .non_profits {
  background: #719764 url(../images/greenBG.gif) repeat left top;
  color: #3f4a38;
  text-shadow: 1px 1px 3px #C0CDB1;
}
#register_now_buttons .local_businesses {
  background: #f9ae46 url(../images/yellowBG.gif) repeat left top;
  color: #975403;
  text-shadow: 1px 1px 3px #FCD3A1;
}
#register_now_buttons .consumers {
  background: #ee6f44 url(../images/salmonBG.gif) repeat left top;
  color: #7e3011;
  text-shadow: 1px 1px 3px #FAC7AE;
}
.regsiterNow {text-decoration:underline;}

#sign-up-info p {
  text-align: center;
  color: #664b39;
}
#sign-up-info #EINLookupResults{
    margin-top:10px;
}
#sign-up-info .alert p {
    text-align:left;
}
#sign-up-info .alert a {
    text-decoration: underline;
}

#faq {margin: 3em;}
#faq .question {color:#444;font-weight:bold;}
#faq .answer ol {list-style-type: lower-alpha;}
#faq ol ol {font-size:100%;}

.contact-us-text {padding-left:0;}
.contact-us-label {
  text-transform:uppercase;
  font-size:2em;
  text-align:center;
  line-height:2em;
}
.contact-us-label.short {line-height:1.2em;}
.contact-us-label.tall {line-height:3.5em;}
#contact-us form {
  display:block;
  margin: 0 auto;
  width:100%;
}
/* Privacy Policy, Terms & Conditions */
div.legal {font-size: 0.9em;}
div.legal h2 {font-size:24px;}
div.legal .section, div.legal .names {text-decoration: underline;}
div.legal .liability-limits{text-transform: uppercase;}
div.legal .super{font-size:0.8em;vertical-align:super;}
div.legal .contact{margin-left:30%;}
div.legal .center{text-align:center;}
div.legal a {text-decoration: underline;color:inherit;}

/* */
div#beta-welcome{
  margin:15px;
}
p.emphasis { font-weight:bold;}

/* Event Detail
================================================== */
div.social-add-this {
  margin-top:10px;
}

/* Forms
================================================== */
.undo-action {background-color:yellow;cursor:pointer;}
form .help , .help{color:#444;font-size:0.8em;font-style:italic;}
form label .help {display:block;}
form label div .help {display:inline;}
form input.with-help {margin-bottom:0;}
.centered {margin:0 auto; text-align:center;}
#or_graphic {
  height: 44px;
  width: 45px;
  background: transparent url(../images/or_graphic.png) no-repeat left top;
  position: relative;
  margin: 0 auto;
}
#or_graphic span {
  position: absolute;
  position: absolute;
  top: 9px;
  left: 14px;
  color: #ffffff;
  font: bold 22px 'Yanone Kaffeesatz', sans-serif;
}
form input.auto-complete {
  width:250px;
  font-size:16px;
  background: white url(../images/magnifying_glass.png) no-repeat 7px 7px;
  padding-left:30px;
}
form .alert, span.alert {
  color: red;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  vertical-align: middle;
}
span.notice{
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}
span.alert.info, span.notice.info{
  color: #F9AE46;
}
span.alert.success, span.notice.success{
    color: green;
}
span.large {
  font-size:0.95em;
}


form fieldset {
  background: url(../images/beige-pattern.png) repeat;
  padding:15px 10px 10px 15px;
  position:relative;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
form fieldset .legend {
  font-size:1em;
  font-weight:bold;
  padding-left:10px;
}
form fieldset label {margin:5px;}
form fieldset h3 {
    font: bold 25px 'Yanone Kaffeesatz', sans-serif;
    color: #664b39;
}

form {
  color: #5e4432;
}
form.override_skel label{
  padding: 6px 4px;
}
.ie8 form.override_skel input[type="text"],
.ie8 form.override_skel input[type="password"],
.ie8 form.override_skel input[type="email"],
.ie8 form.override_skel textarea,
.ie8 form.override_skel select,
.ie8 form.override_skel span.input-impostor {
    max-width:none;
}

form.override_skel h3 {
    color: #807F7E;
    font: bold 24px 'Yanone Kaffeesatz', sans-serif;
    margin: 0 0 0 0;
}

form.override_skel input[type="text"],
form.override_skel input[type="password"],
form.override_skel input[type="email"],
form.override_skel textarea,
form.override_skel select {
  margin: 0;
  border: 1px inset #EBEBEA;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
form.override_skel span.highlight, form.override_skel div.highlight {
  display: inline-block;
  padding: 5px;
  background-color: #d0cec3;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form.override_skel .four.columns span input {
  width: 200px;
}
form.override_skel .two.columns span input {
  width: 80px;
}
form.override_skel .paired.fields span input.two.columns,
form.override_skel .paired.fields span select.two.columns,
form.override_skel .inline-field span select.two.columns,
form.override_skel .inline-field span input.two.columns{
  width: 85px;
}
form.override_skel .paired.fields.columns{
  margin:0 3px;
}
form.override_skel label span.highlight,
form.override_skel label span.highlight textarea,
form.override_skel .paired.fields span.highlight input,
form.override_skel .inline-field span.highlight select,
form.override_skel .paired.fields span.highlight select{
  margin:0;
}
form.override_skel select{
  height: 30px;
  padding-top: 4px;
}

/* Tables (temporary until tables are converted)
================================================== */
table {margin-top:10px;margin-bottom: 10px;}
th {font-weight:bold; text-align: center; }
th, td {border: 1px solid #444;padding: 3px; }
thead th {border-bottom: 2px solid #444;}
tbody th {border-right: 2px solid #444;}
tbody tr:hover {color:black;background-color:#f4f4f1;}
tfoot td {border-top:2px solid #444;}

table a {text-decoration: underline;}
table a:link {color:#664b39;}
table a:visited {color: #444;}
table a:hover {color:#719764;}

.transaction-table th {text-align:left;padding:2px 3px 0;}
.transaction-table td {border-bottom: 1px dotted #444;padding:6px 8px 0;}
.transaction-table tfoot td {border-bottom:1px solid #444;}

#Table_Events hr {margin:0;}

/* FirstGiving 3rd party widget override
================================================== */
div#fgContainerDiv {
  min-height: 110px;
}
div#fgContainerDiv div.charity-search-container {
  width:400px;
}
form#FindOrgForm{margin-bottom:0;}

/* Other third party attribution
================================================== */
.third-party-attribution {font-weight:normal;font: 16px Tahoma, Geneva, sans-serif;}

/* jquery ui
================================================== */

div.ui-datepicker{
  font-size:12px;
}
.columns div.ui-datepicker-group{
    width:100%;
}

.static-datepicker.override .ui-state-default, .ui-datepicker-calendar .merchant-available a {
    border: 1px solid #576C45;
    background: #719764 url(/css/images/ui-bg_inset-hard_65_719764_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #F0F3EC;
}
.static-datepicker.override .ui-datepicker-unselectable .ui-state-default, .ui-datepicker-calendar .merchant-not-available a{
    border: 1px solid #CCC;
    background: #C7C2C2 url(/css/images/ui-bg_highlight-hard_100_c7c2c2_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #585656;
}
#available-dates .ui-datepicker-inline{
    margin-left:25px;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.percentage-value {font-weight:bold;color:#F87217;}
.precentge-slider-wrapper {float:left;margin:-7px 10px 0px 10px;vertical-align:top;}
.percentage-value-slider {float:left;width:75%;}
.fat-slider {margin-bottom:10px;}
.fat-slider .ui-slider {margin:10px;}
.fat-slider .ui-slider .ui-slider-handle{width:30px;height:30px;top: -.4em; margin-left: -.6em;}

/* Modals
================================================== */
.help-modal, .form-modal, .fixed-form-modal {
  background: url(../images/eggshell-pattern.png);
  margin:10px;
  padding:10px;
  width:500px;
  height:auto;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.help-modal #main, .form-modal #main, .fixed-form-modal #main {
  float:left;
}
a.help-modal-icon {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/help.png) no-repeat left top;
    text-indent: -9999px;
}

#cboxLoadedContent div.legal, #cboxLoadedContent .table-modal {
  background: url(../images/eggshell-pattern.png);
  margin: 0;
  padding: 10px;
  width: 700px;
  height: auto;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* Specific pages
================================================== */

#merchant-create-event h3 {
  font: bold 25px 'Yanone Kaffeesatz', sans-serif;
  color: #664b39;
  margin-top:1.5em;
}
#event-display, #event-display a, #event-display a:visited{
  color:#664B39;
}
#event-display .btn a{
  color: #F9FFF9;
}
#event-display h3{
  color:#664B39;
  margin-top:20px;
  font: bold 30px 'Yanone Kaffeesatz', sans-serif;
}
#event-display .business-name, #event-display .nonprofit-name{
  font-weight:bold;
}
#event-display #FaceBookEventForm{
  margin-bottom:0;
}
#event-display select.event-select-element{
  width:300px;
  height:28px;
  font-size: 0.9em;
}
#event-display .quoted-email{
  color: #444;
  border: 2px solid #664B39;
  padding:15px;
}
.event-detail {
  margin:20px 0;
    clear:both;
}

.event-detail p {
  margin-bottom:3px;
    clear:both;
}
.event-detail p span.label{
  display: inline-block;
  padding: 5px 0;
  background-color: #d0cec3;
  color:#fff;
  font-weight:bold;
  min-width: 80px;
  text-align: center;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
    float:left;
}
.event-detail p span.data{
    float:left;
    padding:7px;
    width: 600px;
}
.brag-box{
    clear:both;
}
.brag-box span{
    font-size: 20px;
    font-weight: bold;
    color: #664B39;
    padding:0 12px;
}
.brag-box span.money{
    color: #444;
    font-size:16px;
    max-width:120px;
    border:none;
}
.brag-box .money, .money{
    text-align:right;
}
.brag-box label{
    clear:both;
    padding:5px;
    border-bottom: 1px dotted gray;
}

form.override_skel span.input-impostor{
    border:1px inset #EBEBEA;
    color: #777;
    height: 17px;

    padding: 6px 4px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 210px;
    max-width: 100%;
    background: #fff;
    margin:0;
}
form.override_skel span.input-impostor.center-display{
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    color:#333;
}
.time-range-slider, .percentage-slider{
    width: 225px;
}
#allocation-app table {width:100%; border:none;}
#allocation-app tr {border:none;}
#allocation-plan tr {border-bottom: 1px dotted #cccccc;height:40px;}
#allocation-app td {vertical-align: middle;padding:5px; border:none;}
#allocation-app td.charity, #allocation-app span.charity {width: 436px; display:inline-table;margin:0;}
#allocation-app td.money, #allocation-app span.money {width:175px;display:inline-table;margin:0}
#allocation-app td.status, #allocation-app span.status {display:inline-table;}
#add-row {display:inline-block;}
#allocation-plan tr:last-child{
    border-bottom:none;
}
.plan-list .status{
    text-transform: lowercase;
    font-style: italic;
}
.plan-list .status.display-NEW{
    color:green;
}
.plan-list .status.display-DRAFT{
    color:yellow;
}
.plan-list .status.display-APPLYING{
    color:black;
}
.plan-list .status.display-SPENT, .plan-list .status.display-DELETED{
    color:gray;
}
#add-row input{
    display:inline;
}
input.disabled{
    pointer:default;
    -webkit-text-fill-color: #880000;
}

/* Partner Page & event template
================================================== */
div.event-tag{
    text-align: center;
    margin-top:10px;
}
#right_rail .partner-highlight,
div.add-wrap,
div.warning-banner{
    background-color: #f7f3ea;
    border: 1px solid #e9ebdd;
    padding:4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:0px;
    margin-top:10px;
    display:inline-block;
    color:#7d7471;
    font-size:12px;
    margin-left:auto;
    margin-right:auto;
}
div.add-wrap{
    margin-bottom:0;
}
div.warning-banner,
div.btw-box{
    padding:10px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #f7f3ea;
    text-align:center;
    border: 3px solid #e1e1dc;
    font-size:0.8em;
    line-height:0.9em;
    padding:20px 0;
}
div.warning-banner{
    padding:20px 0;
    padding-left:60px;
    background:transparent url(../images/icon-warning.png) 20px center no-repeat;
    background-color: #f7f3ea;
}
div.warning-banner p{
    margin:0;
    font-weight:bold;
    font:bold 19px 'Yanone Kaffeesatz', sans-serif;
    color:#664B39;
}
div.warning-banner p.highlight{
    font-size:25px;
}
div.warning-banner p.highlight-link{
    font:inherit;
}
div.warning-banner p.highlight-link a{
    text-decoration:underline;
    color:#F87217;
}
div.warning-banner div.btn{
    margin-top:6px;
}
div.btw-box p.highlight-link a{
    text-decoration:underline;
    color:#dd9a42
}
#right_rail .partner-siderail{
    text-align:center;
    margin-bottom:20px;
}
#right_rail .partner-highlight div{
    margin:0;
    min-height:0;
}
#right_rail .partner-highlight{
    padding:10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width:170px;
    margin-left:auto;
    margin-right:auto;
    min-height: 100px;
}
div.add-wrap img{
    background-color:#fff;
}
#right_rail .partner-highlight a,
#right_rail .partner-highlight a:visited{
    color:#7D7471;
}
#right_rail .partner-highlight .vcard {
    text-align:left;
    line-height:30px;
    font-weight:bold;
}
#right_rail .partner-highlight .vcard .org{
    text-align:center;
    font-size:13px;
    font-weight:bold;
    margin-bottom:20px;
    line-height:18px;
}
#right_rail .logo-highlight {
    padding: 5px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin:0;
    min-height:100px;
    margin-bottom:10px;
}
#right_rail .logo-highlight img{
    max-width: 127px;
}
#main div.resources-box{
    border: 2px solid #e8e8e8;
    padding:15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#f4f4f4;
    margin:1em 0;
    font-size:15px;
}
div.resources-box h5{
    color:#664B39;
    font-weight:bold;
    margin:0 0 10px 25px;
}
div.resources-box ul
{
    width: 600px;  /* room for 3 columns */
}
div.resources-box ul li
{
    line-height:20px;
    margin-bottom:5px;
    float: left;
    width: 300px;  /* accommodate the widest item */
}
div.resources-box ul li a
{
    display: block;
    padding-left:50px;
    background:transparent url(../images/bullet-arrow.png) 20px center no-repeat;
    width: 250px;
    text-decoration: none;
}
/* stop the floating after the list */
div.resources-box br
{
    clear: left;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

  /* FirstGiving 3rd party widget override
 ================================================== */
  /*div#fgContainerDiv div.charity-search-container {width:350px;}*/

  #page_header.no-wrap{
    top:7%;
  }

  #page_header.no-wrap h1{
    font-size:32px;
  }
    div.resources-box ul
    {
        width: 500px;  /* room for 3 columns */
    }
    div.resources-box ul li
    {
        width: 250px;  /* accommodate the widest item */
    }
    div.resources-box ul li a
    {
        width: 240px;
    }

    .event-detail p span.data{
        width: 450px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .columns div.hasDatepicker.responsive{ width: 220px;}
  .site_nav li a {
    width: 172px;
  }
  .help-modal, .form-modal{
    width:400px;
  }

  #cboxLoadedContent div.legal {
    width: 500px;
  }
  #header_nav a#logo {
    left:2px;
  }
    body#home-page #header_nav a#logo {
        left:-15px;
    }
    body#interior-page #header_nav a#logo {
        left:2px;
    }
  #featured_content #non_profits, #sign-up-info #non_profits {
    background: transparent url(../images/non_profits_172.png) no-repeat center 77px;
  }
  #featured_content #local_businesses, #sign-up-info #local_businesses, #merchant-create-event #local_businesses {
    background: transparent url(../images/local_businesses_172.png) no-repeat center 40px;
  }
  #featured_content #consumers, #sign-up-info #consumers {
    background: transparent url(../images/consumers_172.png) no-repeat center 40px;
  }
  #featured_content p{
    width: 183px;
  }
  #events_section .event_text, .sub_section .event_text {
    width:400px;
  }
  form.override_skel .four.columns span input {
    width: inherit;
  }
  form.override_skel .paired.fields span input.two.columns,
  form.override_skel .paired.fields span select.two.columns{
    width: 85px;
  }
  #featured_content p {
    margin-left:0;
  }

    #allocation-app td.charity, #allocation-app span.charity {width: 375px;}
    #allocation-app td.money, #allocation-app span.money {width:100px;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .no-mobile {display:none;}
  .help-modal, .form-modal{
    width:350px;
  }
  .columns div.hasDatepicker.responsive div.ui-datepicker-group {display:none;}
  .columns div.hasDatepicker.responsive{ width: 220px; margin-bottom:25px;}
  .columns div.hasDatepicker.responsive div.ui-datepicker-group:first-child {
      display:inline;
  }

  form fieldset{
      margin:10px;
  }
  .form-modal form { width: 350px;}

  .form-modal #main form label span input.columns,
  .form-modal #main form label span textarea
  {width:310px;}

  .container.form-modal .one.column,
  .container.form-modal .one.columns,
  .container.form-modal .two.columns,
  .container.form-modal .three.columns,
  .container.form-modal .four.columns,
  .container.form-modal .five.columns,
  .container.form-modal .six.columns,
  .container.form-modal .seven.columns,
  .container.form-modal .eight.columns,
  .container.form-modal .nine.columns,
  .container.form-modal .ten.columns,
  .container.form-modal .eleven.columns,
  .container.form-modal .twelve.columns,
  .container.form-modal .thirteen.columns,
  .container.form-modal .fourteen.columns,
  .container.form-modal .fifteen.columns,
  .container.form-modal .sixteen.columns,
  .container.form-modal .one-third.column,
  .container.form-modal .two-thirds.column  { width: 220px; }

  #featured_content #non_profits, #sign-up-info #non_profits {
    background: transparent url(../images/non_profits_half.png) no-repeat center 38px;
  }
  #featured_content #local_businesses, #sign-up-info #local_businesses, #merchant-create-event #local_businesses {
    background: transparent url(../images/local_businesses_half.png) no-repeat center 40px;
  }
  #featured_content #consumers, #sign-up-info #consumers {
    background: transparent url(../images/consumers_half.png) no-repeat center 40px;
  }
  #main .user_types{
    min-height:158px;
  }
  #featured_content .user_types{
    min-height: 270px;
  }
  #main, #right_rail div {
    min-height: inherit;
  }
  #main{
    margin-top:50px;
  }
  #navigation{
    padding: inherit;
  }
  #page_header{
    width:220px;
  }
  #page_header h1, #page_header.no-wrap h1 {
    font-size:28px;
  }
  #page_header p{
    display:none;
  }
  #header_nav ul{
    margin-top:0;
  }
  #events_section, .sub_section{
    padding:inherit;
  }
  #events_section li, .sub_section li {
    padding:12px 20px;
  }
  #events_section .calendar_box, .sub_section .calendar_box {
    display:none;
  }
  #merchant-create-event #local_businesses {
    display:none;
  }
  #merchant-create-event h3{
    margin-top:0;
  }
  #featured_content p{
    left: 100px;
  }
    #available-date-detail{
        margin-top: 10px;
    }

  .container form.override_skel textarea.columns{
      width:250px;
  }

    div.resources-box ul
    {
        width: 400px;  /* room for 3 columns */
    }
    div.resources-box ul li
    {
        margin-bottom:10px;
        width: 400px;  /* accommodate the widest item */
    }
    div.resources-box ul li a
    {
        width: 380px;
    }
    .event-detail p span.data{
        width: 300px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  input[type="text"], input[type="password"], input[type="email"], textarea, select{
      width: 250px;
  }

  #cboxLoadedContent div.legal {
    width: 400px;
  }
  #header_nav a#logo{
    left:-56px;
  }
    body#interior-page #header_nav a#logo {
        left:-56px;
    }
  body#home-page #header_nav a#logo {
    left: 94px;
  }
  #banner_caption {
    display:none;
  }
  body#home-page #navigation {
    padding-top: 70px;
  }
  body#home-page #featured_content{
    padding:inherit;
  }

    #allocation-app td.charity, #allocation-app span.charity {width: 315px;}
    #allocation-app td.money, #allocation-app span.money {width:100px;}
    #allocation-app span.status {margin-top:3px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

  .container .no-mobile { display:none;}

  /* FirstGiving 3rd party widget override
 ================================================== */
  /*div#fgContainerDiv div.charity-search-container {width:250px;}*/

    ul.tabs li a{
        padding: 0 8px;
    }

  form#FindOrgForm input.auto-complete {
    width:180px;
  }

  .help-modal, .form-modal{
    width:250px;
  }

  .form-modal form { width: 250px;}

  .form-modal #main form label span input.columns,
  .form-modal #main form label span textarea
  {width:210px;}

  #cboxLoadedContent div.legal {
    width: 280px;
  }

  #header_nav a#logo{
    top:68px;
    left:0;
  }
  #header_nav a#logo img.mobile{
    display:block;
  }
    body#interior-page #header_nav a#logo {
        left:5px;
    }
  body#home-page #header_nav a#logo img.mobile,
  #header_nav a#logo img.interior{
    display:none;
  }
  body#home-page #header_nav a#logo {
    left: 35px;
    top:42px;
  }
  #featured_section_band{
    height:102px;
  }
  #featured_content p{
    left: 40px;
  }
  #banner_caption {
    display:none;
  }
  body#home-page #navigation {
    padding-top: 70px;
  }
  body#home-page #featured_content{
    padding:inherit;
  }
  #main{
    margin-top:20px;
  }
    #allocation-app td.charity { margin-top:3px;margin-bottom:3px;}
    #allocation-app td.charity, #allocation-app span.charity {width: 200px;}
    #allocation-app td.money, #allocation-app span.money {width:95px;}
    #allocation-app span.status {margin-top:3px;}

}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/