body{
    min-width:0px;
}
/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .no-tablet {display:none;}
    .on-tablet {display:inline-block;}
    .on-widest, .container .on-widest {display:none;}

    /* FirstGiving 3rd party widget override
   ================================================== */
    /*div#fgContainerDiv div.charity-search-container {width:350px;}*/

    #page_header.no-wrap{
        top:7%;
    }

    #page_header.no-wrap h1{
        font-size:32px;
    }
    div.resources-box ul,
    div.resources-box.fourteen.columns ul
    {
        width: 650px;  /* room for 3 columns */
    }
    div.resources-box ul li,
    div.resources-box.fourteen.columns ul li
    {
        width: 315px;  /* accommodate the widest item */
    }
    div.resources-box ul li a,
    div.resources-box.fourteen.columns ul li a
    {
        width: 240px;
    }

    .event-detail p span.data{
        width: 450px;
    }
    .event-detail p.donation span.data.no-pad{
        width:425px;
    }
    #footer #swoosh-contact-us img{
        right: 90px;
    }
    #footer ul#legal {
        width: 100%;
        max-width: 100%;
        /*margin-top: 20px;*/
    }
    #footer ul#legal li {
        display:block;
        float:none;
        text-align: center;
        font-weight:normal;
        text-shadow:none;
        line-height:1.3em;
    }
    form#indexFilterForm label.columns.filter-pagelength{
        min-width: 95px;
        max-width: 105px;
    }
    #public-profile-merchant img.logo-image{
        max-width:500px;
        max-height:300px;
    }
    .image-meta-content img.preview{
        display:none;
    }
    body#image-catalog-page .image-meta-content img.preview{
        display:block;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .columns div.hasDatepicker.responsive{ width: 220px;}
    .site_nav li a {
        width: 172px;
    }
    #right_rail a.ui-button.mayor{
        width:172px;
    }
    .help-modal, .form-modal, .fixed-form-modal{
        width:450px;
    }

    #cboxLoadedContent div.legal {
        width: 500px;
    }
    #header_nav a#logo {
        left:2px;
    }
    body#home-page #header_nav a#logo {
        left:4px;
    }
    body#interior-page #header_nav a#logo {
        left:17px;
    }
    #featured_content #non_profits, #sign-up-info #non_profits {
        background: transparent url(../images/non_profits_172.png) no-repeat center 77px;
    }
    #featured_content #local_businesses, #sign-up-info #local_businesses, #merchant-create-event #local_businesses {
        background: transparent url(../images/local_businesses_172.png) no-repeat center 40px;
    }
    #featured_content #consumers, #sign-up-info #consumers {
        background: transparent url(../images/consumers_172.png) no-repeat center 40px;
    }
    #featured_content p{
        width: 183px;
    }
    #events_section .event_text, .sub_section .event_text {
        max-width:400px;
    }
    .fifteen.columns #events_section .event_text,
    .fifteen.columns .sub_section .event_text{
        max-width:545px;
    }
    .fifteen.columns .event_text span.brief-data{
        max-width: 545px;
    }
    .fifteen.columns #manual-button{
        float:right;
    }
    form.override_skel .four.columns span input {
        width: inherit;
    }
    form.override_skel .paired.fields span input.two.columns,
    form.override_skel .paired.fields span select.two.columns{
        width: 85px;
    }
    #featured_content p {
        margin-left:0;
    }

    #allocation-app td.charity, #allocation-app span.charity {width: 375px;}
    #allocation-app td.money, #allocation-app span.money {width:100px;}

    #footer input[type='text']{
        width:160px;
    }
    #footer #swoosh-contact-us img{
        right: -56px;
    }
    #public-profile-org #events_section li .print-icon{
        width:50px;
        margin-top:95px;
        background: transparent url(../images/print_w32.png) no-repeat 0 0;
    }
    body#campaign-page .container .campaign-left.columns,
    body#campaign-page .container .campaign-right.columns{
        width:660px;
    }
    body#campaign-page #main #events_section .event_text{
        max-width:510px;
    }
    body#campaign-page .campaign-right .action-block{
        width:325px;
        float:right;
        margin-top:0;
    }
    body#campaign-page .campaign-right .resource-block{
        clear:both;
        display:inline-block;
    }
    body#campaign-page .campaign-right .resource-block ul
    {
        width: 640px;  /* room for 3 columns */
    }
    body#campaign-page .campaign-right .resource-block ul li
    {
        line-height:20px;
        margin-bottom:10px;
        float: left;
        width: 300px;  /* accommodate the widest item */
    }
    body#campaign-page #main .content .square-image {
        max-height:200px;
    }
    body#campaign-page #main .content .wide-image {
        max-height:200px;
    }
    .campaign-right .poster-block{
         width:325px;
         position:absolute;
         top:9px;
         clear:none;
     }
    body#campaign-page #main .content p img{
        max-width:660px;
    }
}

@media only screen and (min-width: 949px) and (max-width: 959px){
    body#campaign-page #main{
        width:905px;
    }
    body#campaign-page .container{
        width:930px;
    }
    body#campaign-page .container .sixteen.columns{
        width:930px;
    }
    body#campaign-page .container .fifteen.columns{
        width:850px;
    }
    body#campaign-page .container .campaign-left.columns{
        width:500px;
        padding-right:5px;
        padding-left:5px;
    }
    body#campaign-page .container .campaign-right.columns {
        width:325px;
    }
    body#campaign-page #main #events_section .event_text{
        max-width:650px;
    }
    body#campaign-page .campaign-right .resource-block ul
    {
        width: 305px;
    }
    .campaign-right .poster-block{
        clear:both;
        position:relative;
    }
    body#campaign-page .campaign-right .action-block{
        margin-top:5px;
    }
    body#campaign-page .campaign-right .social-add-this{
        float:none;
    }
    body#campaign-page #main .content p img{
        max-width:500px;
    }
}

@media only screen and (max-width: 948px){
    .container .campaign-right.columns {
        position:relative;
    }
}

@media only screen and (min-width: 768px) and (max-width: 860px) {
    #footer #swoosh-contact-us img{
        display:none;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .site_nav li a{
        margin:0 auto;
    }
    .no-mobile {display:none;}
    .help-modal, .form-modal, .fixed-form-modal{
        width:350px;
    }
    .columns div.hasDatepicker.responsive div.ui-datepicker-group {display:none;}
    .columns div.hasDatepicker.responsive{ width: 220px; margin-bottom:25px;}
    .columns div.hasDatepicker.responsive div.ui-datepicker-group:first-child {
        display:inline;
    }

    form fieldset{
        margin:10px;
    }
    .form-modal form { width: 350px;}

    .form-modal #main form label span input.columns,
    .form-modal #main form label span textarea
    {width:310px;}

    .container.form-modal .one.column,
    .container.form-modal .one.columns,
    .container.form-modal .two.columns,
    .container.form-modal .three.columns,
    .container.form-modal .four.columns,
    .container.form-modal .five.columns,
    .container.form-modal .six.columns,
    .container.form-modal .seven.columns,
    .container.form-modal .eight.columns,
    .container.form-modal .nine.columns,
    .container.form-modal .ten.columns,
    .container.form-modal .eleven.columns,
    .container.form-modal .twelve.columns,
    .container.form-modal .thirteen.columns,
    .container.form-modal .fourteen.columns,
    .container.form-modal .fifteen.columns,
    .container.form-modal .sixteen.columns,
    .container.form-modal .one-third.column,
    .container.form-modal .two-thirds.column  { width: 220px; }

    #featured_content #non_profits, #sign-up-info #non_profits {
        background: transparent url(../images/non_profits_half.png) no-repeat center 38px;
    }
    #featured_content #local_businesses, #sign-up-info #local_businesses, #merchant-create-event #local_businesses {
        background: transparent url(../images/local_businesses_half.png) no-repeat center 40px;
    }
    #featured_content #consumers, #sign-up-info #consumers {
        background: transparent url(../images/consumers_half.png) no-repeat center 40px;
    }
    #main .user_types{
        min-height:158px;
    }
    #featured_content .user_types{
        min-height: 270px;
    }
    #main, #right_rail div {
        min-height: inherit;
    }
    #main{
        margin-top:50px;
    }
    #navigation{
        padding: inherit;
    }
    #page_header{
        width:220px;
    }
    body.wide #page_header {
        top:25%;
        left:25%;
    }
    #page_header h1, #page_header.no-wrap h1 {
        font-size:28px;
    }
    #page_header p{
        display:none;
    }
    #header_nav ul{
        margin-top:0;
    }
    #events_section, .sub_section{
        padding:inherit;
    }
    #events_section li, .sub_section li {
        padding:12px 20px;
    }
    #events_section .calendar_box, .sub_section .calendar_box {
        display:none;
    }
    #merchant-create-event #local_businesses {
        display:none;
    }
    #merchant-create-event h3{
        margin-top:0;
    }
    #featured_content p{
        left: 100px;
    }
    #available-date-detail{
        margin-top: 10px;
    }

    .container form.override_skel textarea.columns{
        width:250px;
    }

    div.resources-box ul,
    div.resources-box.fourteen.columns ul
    {
        width: 400px;  /* room for 3 columns */
    }
    div.resources-box ul li,
    div.resources-box.fourteen.columns ul li
    {
        margin-bottom:10px;
        width: 400px;  /* accommodate the widest item */
    }
    div.resources-box ul li a,
    div.resources-box.fourteen.columns ul li a
    {
        width: 380px;
    }
    .event-detail p span.data{
        width: 300px;
    }
    .event-detail p.donation span.data.no-pad{
        width:275px;
    }

    div.columns.profile-section {
        margin:10px 0;
    }
    #footer p {
        width: 225px;
    }
    #footer h2, #footer legend{
        padding-top:20px;
        margin-bottom:0;
    }
    form#indexFilterForm .filter-zip{
        max-width: 420px;
    }
    #public-profile-org #events_section li .print-icon{
        width:50px;
        margin-top:5px;
        background: transparent url(../images/print_w32.png) no-repeat 0 0;
    }
    #create-event-success .social-add-this-padding{
        display:none;
    }
    .social-media-samples{
        width: 420px;
    }
    .social-media-sample-handle{
        top:auto;
        bottom:0px;
        padding:8px 5px;

        /* Safari */
        -webkit-transform: rotate(0deg);

        /* Firefox */
        -moz-transform: rotate(0deg);

        /* IE */
        -ms-transform: rotate(0deg);

        /* Opera */
        -o-transform: rotate(0deg);
    }

    body#image-catalog-page .image-meta-content img.preview{
        display:none;
    }
    body#campaign-page .container .campaign-left.columns{
        width:420px;
    }
    body#campaign-page #main .content .square-image {
        max-height:150px;
        margin-right:35px;
    }
    body#campaign-page #main .content .wide-image {
        max-height:150px;
    }
    form#indexFilterForm label.columns.filter-eventtype{
        max-width:90px;
    }
    body#campaign-page #main .content p img{
        max-width:280px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    input[type="text"],
    input[type="url"],
    input[type="password"],
    input[type="email"],
    textarea,
    select{
        width: 250px;
    }

    #cboxLoadedContent div.legal {
        width: 400px;
    }
    #header_nav a#logo{
        left:-56px;
    }
    body#interior-page #header_nav a#logo {
        left:-20px;
    }

    body#home-page #header_nav a#logo {
        left: 115px;
    }
    #banner_caption {
        display:none;
    }
    body#home-page #navigation {
        padding-top: 70px;
    }
    body#home-page #featured_content{
        padding:inherit;
    }

    #allocation-app td.charity, #allocation-app span.charity {width: 315px;}
    #allocation-app td.money, #allocation-app span.money {width:100px;}
    #allocation-app span.status {margin-top:3px;}

    #footer p{
        width: 270px;
    }
    #public-profile-merchant img.logo-image{
        max-width:300px;
        max-height:300px;
    }
    #catalog-container .box,
    #catalog-container .box .img-container img{
        width:195px;
    }

    body#campaign-page #main .content p img{
        max-width:420px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    .container .no-mobile { display:none;}

    /* FirstGiving 3rd party widget override
   ================================================== */
    /*div#fgContainerDiv div.charity-search-container {width:250px;}*/

    ul.tabs li a{
        padding: 0 8px;
    }

    form#FindOrgForm input.auto-complete {
        width:180px;
    }

    .help-modal, .form-modal, .fixed-form-modal{
        width:250px;
    }

    .form-modal form { width: 250px;}

    .form-modal #main form label span input.columns,
    .form-modal #main form label span textarea
    {width:210px;}

    #cboxLoadedContent div.legal {
        width: 280px;
    }

    #header_nav a#logo{
        top:68px;
        left:0;
    }
    #header_nav a#logo img.mobile{
        display:block;
    }
    body#interior-page #header_nav a#logo {
        left:5px;
    }

    body#home-page #header_nav a#logo img.mobile,
    #header_nav a#logo img.interior{
        display:none;
    }
    body#home-page #header_nav a#logo {
        left: 55px;
        top:42px;
    }
    #featured_section_band{
        height:102px;
    }
    #featured_content p{
        left: 40px;
    }
    #banner_caption {
        display:none;
    }
    body#home-page #navigation {
        padding-top: 70px;
    }
    body#home-page #featured_content{
        padding:inherit;
    }
    #main{
        margin-top:20px;
    }
    #allocation-app td.charity { margin-top:3px;margin-bottom:3px;}
    #allocation-app td.charity, #allocation-app span.charity {width: 200px;}
    #allocation-app td.money, #allocation-app span.money {width:95px;}
    #allocation-app span.status {margin-top:3px;}
    .no-narrow {
        display: none;
    }
    .on-narrow {
        display:inline-block;
    }
    #footer #swoosh-contact-us img{
        right: 45px;
    }
    #choose-price-page .payment-plan{
        padding: 20px 3px;
    }
    .social-media-samples{
        width: 320px;
    }
    #public-profile-merchant img.logo-image{
        max-width:200px;
        max-height:300px;
    }
    div.resources-box ul,
    div.resources-box.fourteen.columns ul
    {
        width: 400px;  /* room for 3 columns */
    }
    div.resources-box ul li,
    div.resources-box.fourteen.columns ul li
    {
        margin-bottom:10px;
        width: 400px;  /* accommodate the widest item */
    }
    div.resources-box ul li a,
    div.resources-box.fourteen.columns ul li a
    {
        width: 250px;
    }
    #catalog-container .box,
    #catalog-container .box .img-container img{
        width:270px;
    }
    #catalog-search form input.auto-complete{
        width: 190px;
    }
    #footer ul#footer-links.embed-included{
        width:310px;
    }
    #footer ul#footer-links.embed-included li:last-child{
        border-left:0;
        width:310px;
        text-align: center;
        margin-top:10px;
    }
    body#campaign-page .container .campaign-left.columns{
        width:280px;
    }
    body#campaign-page .container .campaign-right.columns {
        width:280px;
    }
    body#campaign-page .campaign-right .resource-block ul li
    {
        width: 270px;  /* accommodate the widest item */
    }
    body#campaign-page .campaign-right .resource-block ul li a
    {
        width: 240px;
    }
    body#campaign-page #main .content .square-image,
    body#campaign-page #main .content .wide-image {
        float:none;
        display: block;
        max-height: 150px;
        max-width:250px;
        margin: 0 auto 20px auto;
    }
    body#campaign-page #main #join-action-section{
        padding:20px 12px;
    }
    body#campaign-page #main #join-action-section .join-type-selectors{
        margin-left:20px;
    }
    .campaign-right .poster-block span{
        margin-left:0;
    }
    .campaign-right .related-campaign-block h5{
        font-size:17px;
        margin-left:6px;
    }
}
