/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
  font: 18px/1.4 Georgia, serif;
    min-width:1000px;
}
h1,h2,h3{
    font-family:'Yanone Kaffeesatz', sans-serif;
}
.band {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p a{
    text-decoration: underline;
}
.on-focus-highlight:focus {
    outline: #d0cec3 solid thin;
}
.hidden, .container .hidden, .hide-no-js {display:none;}
.calendar_box {
  color: #fafff5;
  background: transparent url(../images/calendar_box_sprite.png) no-repeat left top;
  height: 81px;
  width: 92px;
  position: relative;
  font: 45px 'Yanone Kaffeesatz', sans-serif;
}
.calendar_box span {
  position: absolute;
  top: 16px;
  left: 25px;
}
li.draft .event_text{
    background: transparent url(../images/draft_icon.gif) no-repeat right top;
}
li.draft .calendar_box {
    background:none;
    color: #993300;
    border: 1px dotted #993300;
}
#event-preview-panel li.draft .calendar_box{
    background: transparent url(../images/calendar_box_sprite.png) no-repeat left top;
    background-position: 0px -264px;
    border:none;
    color:#ffffff;
}
#event-preview-panel li.draft .event_text{
    background: none;
}
ul.alt-list{
  border-bottom:1px dotted #e5e5e5;
}
ul.alt-list li {
  border-top: 1px dotted #e5e5e5;
  margin-bottom:0;
  padding:5px;
}
ul.bulleted {
    list-style-type: disc;
    margin-left:20px;
}
ul.aside{
    font-size:0.9em;
}
ul.aside li{
    margin-bottom:5px;
}
.even {
  background-color: #f4f4f1;
}
.ie7 .btn {
	display: inline;
	background-color: #6d9063;
}
.btn {
  font: 18px 'Yanone Kaffeesatz', sans-serif;
  display: inline-block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b8b7b6;
}
.btn input, .btn a, table .btn a:link, table .btn a:visited {
  padding: 5px 16px;
  color: #f9fff9;
  margin: 0;
  display: inline-block;
  font: 18px 'Yanone Kaffeesatz', sans-serif;
  border: none;
  font-weight: normal;
  background: none;
  background-color: #6d9063;
    text-decoration:none;
}
.btn.charity-action a{
    background-color:#D98C28;
}
.btn input:hover, .btn a:hover {
  cursor:pointer;
  text-decoration: underline;
}
.btn input:focus, .btn a:focus {
    outline: dotted #fff medium;
}
.btn.delete{
    border: 1px solid #ED2015;
}
.btn.delete a{
    background-color: #F7948F;
    color: #333;
}

.btn.administer a,
.btn.administer input{
    background-color: #F9AE46;
    color:#333;
}
.btn.preview a{
    background-color: #f9fff9;
    color:#868583;
    padding-left:40px;
    background:transparent url(../images/preview.png) no-repeat 10px 3px;
    font-weight:bold;
}
.btn.toggle.off a{
    background-color: #F9AE46;
    color:#333;
}
.btn.reset a{
    background-color: #FCD092;
    color:#333;
}
.btn.cancel a{
    background-color: gray;
}
.btn a.inactive,
.btn input.inactive{
    background-color: #d0cec3;
    color:white;
}
.btn a.inactive:hover,
.btn input.inactive:hover{
    text-decoration: none;
    cursor:default;
}
.btn.right, .step_btn.right {
    float:right;
    margin-left:2px;
    margin-top:5px;
}
.btn.processing{
    float: right;
    min-height: 32px;
    min-width: 62px;
    text-align: center;
    vertical-align: middle;
    background: #fafafa url(/images/ajaxLoaderMed.gif) no-repeat center center;
    background-size: 24px;
}
.btn.processing a, .btn.processing input{
    display:none;
}
.link.right {
    float:right;
}
.link a{
    font-size:14px;
    text-decoration: underline;
    color:#664b39;
}
.link a:hover{
    color:#719764;
}
.ui-button.mayor {
    display: block;
    position:relative;
    padding:0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    border: 1px solid #aed0ea;
    background: #d7ebf9 url(/mayor/css/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
    font-weight:bold;
    color: #2779aa;
    clear:both;
    margin:auto;
    width:220px;
    margin-top:20px;

}
.ui-button.mayor .ui-button-text{
    padding: .4em .5em;
    line-height:1em;
    cursor: pointer;
    text-align: center;
    font-weight:bold;
    color: #2779aa;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.step_btn {
  position: relative;
  margin: 10px;
  display: inline-block;
  background-color: #ffffff;
  overflow: hidden;

  width: 140px;
  height: 35px;

  font: 18px 'Yanone Kaffeesatz', sans-serif;

  -webkit-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #b8b7b6;

}
#wrapper .step_btn span, .step_btn span {
  position: absolute;
  top: 6px;
  left: 15px;
  color: #9b9b9a;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.step_btn a, .step_btn input {
  background-color: #6d9063;
  padding: 20px 17px;
  position: absolute;
  right: 0px;
  top: -14px;
  color: #f9fff9;
}
.step_btn input{
    border: none;
    font: inherit;
    cursor: pointer;
    right: -2px;
}
.step_btn a.inactive{
    background-color: #d0cec3;
}
.step_btn.administer a{
    background-color: #F9AE46;
    color:#333;
}
.step_btn.medium{
    width: 160px;
}
.step_btn.wide{
    width:190px;
}

/* #Page Styles
================================================== */
.on-widest, .container .on-widest {
    display:inline;
}
.on-narrow, .on-tablet {
    display:none;
}
#header_band {
  height: 60px;
  background: transparent url(../images/brown_cross_pattern.jpg) repeat left bottom;
  position: relative;
  z-index: 2;
}
#header_nav {
  position: relative;
  height: 100%;
}
#header_nav ul {
  float: right;
  margin: 20px 10px 0 0;
}
#footer ul{
    margin: 10px 10px 0 0;
}
#header_nav ul li, #footer ul li {
  color: #ffffff;
  float: left;
  margin: 0 5px 0 0;
  font: 20px/1 Tahoma, Geneva, sans-serif;

}
#footer .list_stack ul li {
    padding-left: 16px;
    text-indent: -16px;
}
#footer .list_stack ul li a{
    vertical-align: top;
}
#header_nav ul li a, #footer ul li a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#header_nav a#logo {
  position: absolute;
  top: 40px;
  left: 25px;
}
#header_nav a#logo img.home-page,
#header_nav a#logo img.mobile {
  display: none;
}
#header_nav a#logo img {
  -webkit-box-shadow: 0px 1px 10px 0px #000000;
  box-shadow: 0px 1px 10px 0px #000000;
}
body#home-page #header_nav a#logo img.home-page {
  display:block;
}
body#interior-page #header_nav a#logo {
    left:40px;
}
body#home-page #header_nav a#logo img.interior{
  display:none;
}
#banner_band {
  display:none;
}
body#home-page #banner_band {
  display:block;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
#banner_band #upper_stitch {
  height: 15px;
  background: white url(../images/individual_stitch.jpg) repeat-x left 7px;
  width: 99.9%;
  transform: rotate(-0.2deg);
  -ms-transform: rotate(-0.2deg); /* IE 9 */
  -moz-transform: rotate(-0.2deg); /* Firefox */
  -webkit-transform: rotate(-0.2deg); /* Safari and Chrome */
  -o-transform: rotate(-0.2deg); /* Opera */
}
#banner_band #lower_stitch {
  height: 100px;
  width: 99.9%;
  background: white url(../images/individual_stitch.jpg) repeat-x left 88px;
  position: absolute;
  bottom: -18px;
  left: 0px;
  z-index: 1;

  transform: rotate(-1deg);
  -ms-transform: rotate(-1deg); /* IE 9 */
  -moz-transform: rotate(-1deg); /* Firefox */
  -webkit-transform: rotate(-1deg); /* Safari and Chrome */
  -o-transform: rotate(-1deg); /* Opera */
}

#banner {
  height: 140px;
  position: relative;
  z-index: 2;
}
#banner_caption {
  position: absolute;
  top: 15px;
  right: 25px;
  text-align: center;
}
#banner_caption h1,
#banner_caption span {
  color: #779068;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: inline;
}
#banner_caption h1 {
  font-size: 35px;
  font-weight: bold;
}
#banner_caption span {
  font-size: 24px;
  padding-left: 22px;
  background: transparent url(../images/speaker_icon2.png) no-repeat left 6px;
  margin-left: 5px;
}
#banner_caption p {
  color: #747372;
  font: 16px Georgia, Serif;
  margin: 0;
}
#banner_caption p a {
  color: #f76220;
  font: bold 24px/1.4 'Yanone Kaffeesatz', sans-serif;
  margin-left: 5px;
}
#featured_section_band{
  height: 130px;
  position:relative;
}
body#home-page #featured_section_band{
  height:auto;
}
#featured_section_band {
  background: transparent url(../images/beige-pattern.png) repeat left top;
}
.featured_section{
  color: #664b39;
  height:100%;
}
#navigation {
  padding: 70px 0 25px 0;
}
#navigation p {
  text-align: center;
}
#navigation p span {
  font-weight: bold;
}
.social_nav, .round_links {
  overflow: hidden;
  width: 200px;
  margin: 0 auto;
}
.social_nav li, .round_links li {
  float: left;
}
.social_nav li a {
  display: inline-block;
  padding: 25px;
  background: transparent url(../images/sprite_social_icons_v2.png) no-repeat left top;
}
.social_nav li a.twitter {
  background-position: 0 0;
}
.social_nav li a.facebook {
  background-position: -56px 0;
}
.social_nav li a.flickr {
  background-position: -110px 0;
}
.social_nav li a.rss {
  background-position: -163px 0;
}
.social_nav li a.pinterest {
    background-position: -217px 0;
}
.social_nav li a span, .round_links li a span {
  display: none;
}
.round_nav li a {
  display: inline-block;
  padding: 25px;
  background: transparent url(../images/sprite_round_navigation.png) no-repeat left top;
}
.round_nav li a.home {
  background-position: 0 0;
}
.round_nav li a.find_events {
  background-position: -56px 0;
}
.round_nav li a.create_events {
  background-position: -110px 0;
}
.round_nav li a.how_it_works {
  background-position: -163px 0;
}
#right_rail a.ui-button.mayor{
    width:200px;
    margin: 0 auto;
}
.site_nav li a {
  font: bold 24px 'Yanone Kaffeesatz', sans-serif;
  display: block;
  height: 35px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.site_nav li a:hover{
  text-decoration: none;
}
.site_nav li a.find_events, #right_rail li a.profile, #right_rail li a.password {
  background: #719764 url(../images/greenBG.png) repeat left top;
  color: #3f4a38;
  text-shadow: 1px 1px 3px #C0CDB1;
}
.site_nav li a.create_events {
  background: #f9ae46 url(../images/yellowBG.gif) repeat left top;
  color: #975403;
  text-shadow: 1px 1px 3px #FCD3A1;
}
.site_nav li a.how_it_works, #right_rail li a.my_events {
  background: #ee6f44 url(../images/salmonBG.gif) repeat left top;
  color: #7e3011;
  text-shadow: 1px 1px 3px #FAC7AE;
}
#right_rail li a.sales, #right_rail li a.donations {
  background-color: #664B39;
  color: #fff;
}
#page_header {
  position:absolute;
  top:25%;
  left:25%;
}
body.wide #page_header {
    top:15%;
    left:16%;
}
body#home-page #page_header {
  padding: 50px 0 0 0;
  position: relative;
}
#page_header h1 {
  font: bold 46px 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: #664b39;
    margin-bottom:3px;
}
#page_header.no-wrap h1{
  font-size:40px;
}
#page_header.no-wrap.medium h1{
    font-size:35px;
}
#page_header.no-wrap.medium.compressed h1,
#page_header.no-wrap.small.compressed h1
{
    line-height: 35px;
}
#page_header.no-wrap.small.compressed h1{
    font-size:33px;
}
#page_header.no-wrap.small.compressed{
    top:3%;
}
#page_header p {
  text-align: center;
  color: #664b39;
}
body.wide #page_header p{
    margin:0 40px;
}
#featured_content {
  padding: 50px 0 25px 0;
  position: relative;
}
.user_types {
  min-height: 365px;
}
#featured_content h2, #sign-up-info div h2, #merchant-create-event div h2 {
  font: bold 26px 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  text-align: center;

}
#sign-up-info.partner-page div h2{
    font-size: 35px;
    text-transform:none;
    color: #664b39;
    margin:25px auto;
}
#sign-up-info.partner-page ul{
    list-style-type:disc;
    color: #664b39;
    font-size: 15px;
}
#featured_content h2 span, #sign-up-info div h2 span, #merchant-create-event div h2 span {
  background-color: #fff;
  padding: 0 5px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#featured_content p {
  width: 190px;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: 20px;
  color: #664b39;
}
#featured_content #cet_dashboard, #sign-up-info #cet_dashboard {
  background: transparent url(../images/cet_dashboard.png) no-repeat center 51px;
  position:relative;
}
#featured_content #local_businesses, #sign-up-info #local_businesses, #merchant-create-event #local_businesses {
  background: transparent url(../images/local_businesses.png) no-repeat center 40px;
  background-position-x: 89%;
  position:relative;
}
#featured_content #consumers, #sign-up-info #consumers {
  background: transparent url(../images/consumers.png) no-repeat center 40px;
  position:relative;
}

#featured_content #cet_dashboard h2, #sign-up-info #cet_dashboard h2 {
  color: #e84f13;
}
#featured_content #local_businesses h2, #sign-up-info #local_businesses h2, #merchant-create-event #local_businesses h2 {
  color: #aa6413;
}
#featured_content #consumers h2, #sign-up-info #consumers h2 {
  color: #769366;
}
#sign-up-info h3, #sign-up-info h4, #sign-up-info h5{
  color: #664b39;
  text-align:center;
  font-weight:bold;
}
#body_section_band {
  background-color: #ffffff;
  background: transparent url(../images/individual_stitch.jpg) repeat-x left 8px;
}
.bottom_body_section_stitch {
  clear: both;
  height: 15px;
  background: transparent url(../images/individual_stitch.jpg) repeat-x left top;
}
body.clean-embed #body_section_band{
    background:none;
}
body.clean-embed #header_band,
body.clean-embed #banner_band,
body.clean-embed #featured_section_band,
body.clean-embed .bottom_body_section_stitch{
    display:none;
}
#main, #right_rail {
  float:right;
}
#main, #right_rail div {
  margin-top: 20px;
  min-height: 350px;
}
#main{
  margin-bottom:10px;
}
#right_rail div{
  margin-top:50px;
}
#right_rail div.house-ad{
    min-height: 0px;
    margin:20px 0px;
}
#right_rail div.house-ad img{
    max-width: 110px;
    display:block;
    margin:15px auto;
}
#right_rail div.house-ad img{
    max-width: 150px;
    display:block;
    margin:15px auto;
}
#main .user_types{
  min-height: 280px;
}
#main .feature-ad{
    text-align:center;
    padding:20px 0;
}
.sub_section {
    padding:20px 0;
    overflow:hidden;
    border-bottom: 1px dotted gray;
}
#profile_section.sub_section, #profile_section.tab-section {
	padding: 50px 0;
}
#profile_section.sub_section a, .profile_section_aboutus a {
	color: #7c9a6c;
	font-size: 18px;
	line-height: 1.4;
    text-decoration:none;
}
#profile_section.tab-section .tabs-content > li:first-child > .sub_section:first-child h2{
    display:none;
}
.profile_section_aboutus {
	padding-left:50px;
}
#events_section {
  padding: 50px 0;
  overflow: hidden;
}
#event-display #events_section,
#create-event-success #events_section{
    padding:0;
}
#events_section.events_section_smallpadding {
	padding-top: 10px;
}
body#public-profile-org #events_section{
    padding-top:10px;
}
#events_section .calendar_box, .sub_section .calendar_box {
  float: left;
  margin-right: 20px;
}
#events_section .event_text, .sub_section .event_text {
    max-width: 512px;
  float: left;
}
.fifteen.columns #events_section.fifteen.columns .event_text,
#events_section.fifteen.columns .event_text,
.fifteen.columns .sub_section .event_text{
    max-width:700px;
}
.event_text span.brief-term{
    width:50px;
    float:left;
}
.event_text span.brief-data{
    margin-left:50px;
    display:block;
    max-width:495px;
}
.event_text span.brief-data.hidden{
    display:none;
}
.fifteen.columns .event_text span.brief-data{
    max-width: 680px;
}
.event_text span.brief-term.no-pad{
    float:none;
}
.event_text span.brief-data.no-pad{
    margin-left:auto;
    display:inline;
}
#events_section .event_text span.brief-data a,
.sub_section .event_text span.brief-data a,
.sub_section .event_text span.brief-data .link{
    line-height: 1;
    text-decoration:none;
}
#events_section h2, .sub_section h2 {
  color: #807f7e;
  font: bold 32px 'Yanone Kaffeesatz', sans-serif;
  margin: 0 0 20px 20px;
}
.administer_section{
    padding: 10px;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.administer_section h3{
    color: #807f7e;
    font: bold 28px 'Yanone Kaffeesatz', sans-serif;
}
.sub_section.merchant-private h2{
    color: #F9AE46;
}
#events_section li, .sub_section li {
  padding: 30px 20px;
  overflow: hidden;
  border-top: 1px dotted #807f7e;
  margin-bottom: 0;
}
#event-display #events_section li,
#create-event-success #events_section li{
    border-top:none;
}
#events_section li div, .sub_section li div, .sub_section li.draft div {
    display:block;
    margin-bottom:10px;
}
#events_section li a, .sub_section li a, .sub_section li.draft .link {
  color: #7c9a6c;
  font-size: 18px;
  line-height: 1.4;
}
#event-list li.is-expired-event a {
    color: inherit;
}
#event-list li.is-expired-event a:hover {
    text-decoration: underline;
}
#event-preview-panel li.draft .link,
#event-preview-panel li.draft a{
    color: #D98C28;
}
#public-profile-org #events_section li {
    position:relative;
}
#public-profile-org #events_section li .print-icon{
    position:absolute;
    width:84px;
    height:32px;
    right:0;
    top:0;
    margin-top:45px;
    cursor: pointer;
    background: transparent url(../images/print_w32.png) no-repeat 0 0;
    text-indent:100%;
    white-space: nowrap;
    overflow:hidden;
}
.sub_section li.draft a,
.sub_section li.draft .link {
    color: #993300;
}
.sub_section li.draft .event_description{
    margin-top:20px;
    font-size:16px;
}
.sub_section li.draft .event_description a{
    color:inherit;
    display:inline;
    line-height:inherit;
    margin: 0;
    font-size:inherit;
}
#event-preview-panel ul{
    margin-bottom:0;
}
#event-preview-panel li{
    padding-bottom:5px;
}
#events_section li p, .sub_section li p {
  line-height: 1;
  margin-bottom: 3px;
  font-size: 14px;
  color: #807f7e;
}
#events_section .event_text .cause a,
.sub_section .event_text .cause a,
#events_section .event_text .venue a,
.sub_section .event_text .venue a,
#events_section .event_text .event a,
.sub_section .event_text .event a,
.sub_section .event_text .event .link,
.sub_section .event_text .venue .link,
.sub_section .event_text .cause .link {
  display:inline;
  font-size:inherit;
}
#pagination-bottom {
  float:right;
    margin-right:10px;
}
#pagination-top{
	clear:both;
  float:right;
  margin:5px;
    margin-right:10px;
}
.paginationbtn, .loading-spinner, .indexfilter-processing {
    font-size:14px;
	padding:0px 10px 0px 10px;
	border-color:#fff;
}
.indexfilter-processing{
    line-height:16px;
    font-size:12px;
    color:#5e4432;
}
.loading-spinner img{
    vertical-align: middle;
}
.pagination-lengthchooser {
	float:right;
	padding-right:5px;
}
#footer {
  clear: both;
  background: transparent url(../images/brown_cross_pattern.jpg) repeat left top;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#footer .container{
    padding-top:13px;
    padding-bottom:16px;
}
#footer p {
    margin: 0;
    font-size: 16px;
}
#footer ul li a{
    font-size: 16px;
}
#footer h2 {
    color: #fff;
}
#footer .list_stack ul {
    margin: 0;
    float: none;
}
#footer .list_stack ul li {
    float: none;
    margin: 0;
}

#footer form legend, #footer h2 {
    padding-top:5px;
    font: bold 24px/1.4 'Yanone Kaffeesatz', sans-serif;
}
#footer .btn{
    font: bold 22px 'Yanone Kaffeesatz', sans-serif;
    background: #f9ae46 url(../images/yellowBG.gif) repeat left top;
    color: #975403;
    text-shadow: 1px 1px 3px #FCD3A1;
    padding: 1px;
    width: 130px;
    border: 1px solid #fff;
    float:right;
    text-transform: uppercase;
    text-align: center;
    text-decoration:none;
}
#footer .btn:hover{
    text-decoration: underline;
}
#footer ul li span {
    font: 16px Tahoma, Geneva, sans-serif;
    margin-right: 5px;
}
#footer ul {


}
#footer #footer-links li{
    text-shadow: 1px 1px 3px black;
    border-left: 2px solid #fff;
    line-height: 12px;
    padding-left: 7px;
    margin-right: 7px;
}
#footer #footer-links li:first-child {
    border: none;
}

#footer #footer-links li a{
    /*font: bold 18px/1 'Yanone Kaffeesatz', sans-serif;*/
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 16px;
}
#footer ul#footer-links {
    width:310px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
}
#footer ul#footer-links.embed-included{
    width:375px;
}
#footer ul#legal {
    clear:both;
    width:720px;
    margin: 20px auto 50px auto;
    overflow: hidden;
}
#footer ul#legal li {
    /*font: 16px 'Yanone Kaffeesatz', sans-serif;*/
    font-size:16px;
    font-family:'Yanone Kaffeesatz', sans-serif;
}
#footer ul#legal li:first-child {
    margin-left: 0;
}
#footer ul li span.copyright {
    font: 14px Tahoma, Geneva, sans-serif;
    margin: 0 3px;
    line-height: 16px;
}
#footer ul li span.trademark {
    font: 14px Tahoma, Geneva, sans-serif;
    margin-right: 3px;
    line-height: 16px;
}
#footer .social_nav {
    margin-top:25px;
    margin-left:auto;
    margin-right: auto;
}
#footer .social_nav li{
    margin: 0;
}
#footer #feedback-stack p{
    margin-bottom: 35px;
}
#footer #feedback-stack p .btn{
    float:none;
}
#footer #swoosh-contact-us{
    position: relative;
}
#footer #swoosh-contact-us img{
    position: absolute;
    top: -40px;
    right: -25px;
}
span.sec-item {
    float:right;
    font-size:0.8em;
    display:none;
}
#public-profile-merchant #events_section,
#public-profile-org #events_section{
    padding:20px 0;
}
#public-profile-merchant #logo-container{
    display:block;
    text-align: center;
}
#public-profile-merchant img.logo-image{
    max-width:600px;
    max-height:300px;
}

#register_now_buttons{
  margin-top:15px;
}
#register_now_buttons a {
  font: bold 24px 'Yanone Kaffeesatz', sans-serif;
  display:inline-block;
  height: 35px;
  width: 200px;
  margin: 0 auto;
  margin-bottom:10px;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#register_now_buttons a:hover{
  text-decoration: none;
}
#register_now_buttons .non_profits {
  background: #719764 url(../images/greenBG.gif) repeat left top;
  color: #3f4a38;
  text-shadow: 1px 1px 3px #C0CDB1;
}
#register_now_buttons .local_businesses {
  background: #f9ae46 url(../images/yellowBG.gif) repeat left top;
  color: #975403;
  text-shadow: 1px 1px 3px #FCD3A1;
}
#register_now_buttons .consumers {
  background: #ee6f44 url(../images/salmonBG.gif) repeat left top;
  color: #7e3011;
  text-shadow: 1px 1px 3px #FAC7AE;
}
.regsiterNow {text-decoration:underline;}

#sign-up-info p {
  text-align: center;
  color: #664b39;
}
#sign-up-info p.help a{
    color: #7c9a6c;
    font-weight:bold;
}
#sign-up-info #EINLookupResults{
    margin-top:10px;
}
#sign-up-info .alert p {
    text-align:left;
}
#sign-up-info .alert a {
    text-decoration: underline;
}
#sign-up-info .nonprofit-registration-section p{
    text-align:left;
}

#faq {margin: 3em;}
#faq .question {color:#444;font-weight:bold;}
#faq .answer ol {list-style-type: lower-alpha;}
#faq ol ol {font-size:100%;}

.contact-us-text {padding-left:0;}
.contact-us-label {
  text-transform:uppercase;
  font-size:2em;
  text-align:center;
  line-height:2em;
}
.contact-us-label.short {line-height:1.2em;}
.contact-us-label.tall {line-height:3.5em;}
#contact-us form {
  display:block;
  margin: 0 auto;
  width:100%;
}
/* Privacy Policy, Terms & Conditions */
div.legal {font-size: 0.9em;}
div.legal h2 {font-size:24px;}
div.legal .section, div.legal .names {text-decoration: underline;}
div.legal .liability-limits{text-transform: uppercase;}
div.legal .super{font-size:0.8em;vertical-align:super;}
div.legal .contact{margin-left:30%;}
div.legal .center{text-align:center;}
div.legal a {text-decoration: underline;color:inherit;}

/* */
div#beta-welcome{
  margin:15px;
}
p.emphasis { font-weight:bold;}

/* Event Detail
================================================== */
div.social-add-this {
  margin-top:10px;
  line-height:1em;
}
.address p, .contact-info p {
    margin:0;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


/* Forms
================================================== */
.undo-action {background-color:yellow;cursor:pointer;}
form .help, .help {color:#444;font-size:0.8em;font-style:italic;}
.help.general-help {font-size:14px;font-weight:normal;}
form label .help {display:block;}
form label div .help {display:inline;}
form input.with-help {margin-bottom:0;}
.centered {margin:0 auto; text-align:center;}
#or_graphic {
  height: 44px;
  width: 45px;
  background: transparent url(../images/or_graphic.png) no-repeat left top;
  position: relative;
  margin: 0 auto;
}
#or_graphic span {
  position: absolute;
  top: 9px;
  left: 14px;
  color: #ffffff;
  font: bold 22px 'Yanone Kaffeesatz', sans-serif;
}
.round-gray-button {
    height: 44px;
    width: 45px;
    background: transparent url(../images/or_graphic_disabled.png) no-repeat left top;
    position: relative;
}
.round-green-button {
    height: 44px;
    width: 45px;
    background: transparent url(../images/or_graphic.png) no-repeat left top;
    position: relative;
}
.round-green-button:hover,
.round-gray-button:hover {
    cursor: pointer;
}
.round-green-button:hover span,
.round-gray-button:hover span{
    text-decoration: underline;
}
.round-green-button span,
.round-gray-button span{
    position: absolute;
    overflow:hidden;
    top: 9px;
    left: 14px;
    color: #ffffff;
    font: bold 22px 'Yanone Kaffeesatz', sans-serif;
}
.round-green-button input.hidden,
.round-gray-button input.hidden{
    position:absolute;
    display:inline-block;
    left:-2000px;
    text-indent: -9999px;
}
form input.auto-complete {
  width:250px;
  font-size:16px;
  background: white url(../images/magnifying_glass.png) no-repeat 7px 7px;
  padding-left:30px;
}

input.auto-complete::-webkit-input-placeholder { /* WebKit browsers */
    font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #999;
}
form input.auto-complete:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #999;
}
form input.auto-complete::-moz-placeholder { /* Mozilla Firefox 19+ */
    font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #999;
}
form input.auto-complete:-ms-input-placeholder { /* Internet Explorer 10+ */
    font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #999;
}
form .alert, span.alert, label span.alert {
  color: red;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  vertical-align: middle;
}
span.alert{
    display:inline-block;
}
.submitted-transaction span{
    display:inline-block;
}
form label span.alert label.error{
    display:inline;
}
form label.checkbox input[type=checkbox]{
    float:left;
}
form label span.checkbox-label{
    font-style: italic;
    display:block;
    margin-left:20px;
    font-weight:bold;
}
span.notice, p.notice{
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}
span.alert.info, span.notice.info,
div.alert.info, p.alert.info{
  color: #F9AE46;
}
span.alert.loading {
    background: transparent url(../images/ajaxLoaderSmall.gif) no-repeat top left;
    padding-left:20px;
}
p.help.private {
    color:red;
}
span.alert.success, span.notice.success, p.help.public{
    color: green;
}
.alert.tab-info{color:#F9402F;}
.alert.message-info{color:#E18505;}
span.large {
  font-size:0.95em;
}
#already-registered-message {
    font-size:0.9em;
    color: #F87217;
    font-style: italic;
    font-weight:lighter;
}
#already-registered-message a{
    color:#5e4432;
    font-weight:bold;
}
.profile-subsection {
    margin:10px 0;
}
.profile-section {
    margin:10px 0;
}
#event-display .action-link {
    color:#333;
    font-size:0.8em;
    font-style:italic;
    float:right;
}
.profile-section .action-link {color:#333;font-size:0.8em;font-style:italic;}
#customer-choice-preferences{
    padding-top:10px;
}
#customer-choice-preferences .action-link {
    color:#333; font-size: 1em; font-style:italic;
    margin-left:30px;
    text-decoration: underline;
}
label.featured-cause-selector a.customer-choice{
    font-style: italic;
    color: #444;
}
form fieldset, .fake-form.override_skel fieldset, .profile-section {
  background: url(../images/beige-pattern.png) repeat;
  padding:15px 10px 10px 15px;
  position:relative;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.formatted-html-preview {
    background-color:#fff;
    padding: 6px;

    -webkit-border-radius: 4px;
    border-radius: 4px;
}
form fieldset .legend, .profile-section .legend{
  font-size:1em;
  font-weight:bold;
  padding-left:10px;
}
.profile-section .legend a{
    font-size:0.9em;
    font-weight:normal;
    text-decoration: underline;
    color:#5e4432;
}
#social-media-section .social-media-handle{
    margin-bottom:10px;
    margin-left:10px;
}
#social-media-section .social-network-name{
    width:25px;
    height:20px;
    vertical-align:bottom;
    display:inline-block;
    text-indent:100%;
    white-space: nowrap;
    overflow:hidden;
}
#social-media-section .facebook-handle .social-network-name{
    background: transparent url(../images/FB-f-Logo__blue_29.png) no-repeat 0 0;
    background-size:20px;
}
#social-media-section .twitter-handle .social-network-name{
    background: transparent url(../images/twitter-bird-light-bgs.png) no-repeat 0 0;
    background-size:25px;
}
form fieldset label {margin:5px;}
form fieldset h3 {
    font: bold 25px 'Yanone Kaffeesatz', sans-serif;
    color: #664b39;
}
form fieldset.select-recipient span.featured-charity{
    font-size: 1.1em;
    font-weight: bold;
}
#footer form{
    color: #fff;
}
#footer form fieldset{
    background:none;
    padding: 0;
    margin:0;
}
#footer form fieldset legend{
    margin-bottom:10px;
}
form#newsletter-signup input[type='text']{
    padding: 10px;
    font: 16px 'Yanone Kaffeesatz', sans-serif;
    background-color: #412b1e;
    color: #fff;
    border-color: #584734;
    margin-bottom:10px;

    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 1px 0px black;
    -moz-box-shadow: inset 1px 1px 1px 0px black;
    box-shadow: inset 1px 1px 1px 0px black;
}
form#newsletter-signup ::-webkit-input-placeholder {
    font: 16px 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
}

form#newsletter-signup :-moz-placeholder {
    font: 16px 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
}
form#indexFilterForm .message{ margin-left:15px;}
form#indexFilterForm .message.alert.info{ min-height:17px;}
form#indexFilterForm .help {color:#5E4432;}
form#indexFilterForm label {font-size:0.8em;}
form#indexFilterForm select{
    max-width: 97px;
}
form#indexFilterForm .filter-keyword{
    width: 255px;
}
form#indexFilterForm .filter-keyword div{
    min-width: 280px;
}
form#indexFilterForm .filter-keyword input{
    min-width: 255px;
}
form#indexFilterForm .filter-zip{
    max-width: 210px;
}
form#indexFilterForm .filter-zip input{
    min-width: 210px;
}
form#indexFilterForm label.columns.filter-eventtype{
    max-width: 70px;
}
form#indexFilterForm label.columns.filter-eventtype select{
    max-width:80px;
}
form#indexFilterForm label.columns.filter-pagelength{
    max-width: 95px;
}
form#indexFilterForm .filter-go{
    margin:0;
    width:45px;
}
form#indexFilterForm .filter-go .round-green-button,
form#indexFilterForm .filter-go .round-gray-button{
    max-width:45px;
    float:left;
    margin-top:-3px;
}
form#indexFilterForm .indexfilter-resetlink {
    top:-2px;
    color:red;
    font-size:0.8em;
	cursor:pointer;
    margin-left:20px;
}

form {
  color: #5e4432;
}
form.override_skel label{
  padding: 6px 4px;
}
form .button-wrap{
    padding-top:4px;
}
.ie8 form.override_skel input[type="text"],
.ie8 form.override_skel input[type="url"],
.ie8 form.override_skel input[type="password"],
.ie8 form.override_skel input[type="email"],
.ie8 form.override_skel textarea,
.ie8 form.override_skel select,
.ie8 form.override_skel span.input-impostor,
.ie8 .fake-form.override_skel input[type="text"],
.ie8 .fake-form.override_skel input[type="url"],
.ie8 .fake-form.override_skel input[type="password"],
.ie8 .fake-form.override_skel input[type="email"],
.ie8 .fake-form.override_skel textarea,
.ie8 .fake-form.override_skel select{
    max-width:none;
}

form.override_skel h3, .fake-form.override_skel h3 {
    color: #807F7E;
    font: bold 24px 'Yanone Kaffeesatz', sans-serif;
    margin: 0 0 0 0;
}

form.override_skel input[type="text"],
form.override_skel input[type="url"],
form.override_skel input[type="password"],
form.override_skel input[type="email"],
form.override_skel textarea,
form.override_skel select,
.fake-form.override_skel input[type="text"],
.fake-form.override_skel input[type="url"],
.fake-form.override_skel input[type="password"],
.fake-form.override_skel input[type="email"],
.fake-form.override_skel textarea,
.fake-form.override_skel select{
  margin: 0;
  border: 1px inset #EBEBEA;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
form input.units{
    max-width:50px;
}
form input.wide{
    min-width:280px;
}
form select.percentage{
    max-width: 75px;
}
form input.currency{
    width:100px;
}
form.override_skel span.highlight,
form.override_skel div.highlight,
.fake-form.override_skel span.highlight,
.fake-form.override_skel div.highlight{
  display: inline-block;
  padding: 5px;
  background-color: #d0cec3;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form.override_skel .four.columns span input {
  width: 200px;
}
form.override_skel .two.columns span input {
  width: 80px;
}
form.override_skel .paired.fields span input.two.columns,
form.override_skel .paired.fields span select.two.columns,
form.override_skel .inline-field span select.two.columns,
form.override_skel .inline-field span input.two.columns{
  width: 85px;
}
form.override_skel .paired.fields.columns{
  margin:0 3px;
}
form.override_skel label span.highlight,
form.override_skel label span.highlight textarea,
form.override_skel .paired.fields span.highlight input,
form.override_skel .inline-field span.highlight select,
form.override_skel .paired.fields span.highlight select{
  margin:0;
}
form.override_skel select{
  height: 30px;
  padding-top: 4px;
}
form a.colorbox{
    text-decoration: underline;
}
form div.terms-agreement-snippet{
    color: #333;
    font-size: 14px;
}

ul.tabs.bordered{
    margin:0;
}
ul.tabs-content.bordered {
    margin: 0 0 10px 0;
    display: block;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    overflow:auto;
}
ul.tabs-content.bordered > li.active { display: block; padding:20px 5px;}

#customer-choice-preferences ul.tabs a span{
    padding-left: 32px;
    background:transparent url(../images/checkbox_no.png) 10px center no-repeat;
}

#customer-choice-preferences ul.tabs a.active span{
    padding-left: 32px;
    background:transparent url(../images/checkbox_yes.png) 10px center no-repeat;
}
li#percentage-choice label span {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

/* mad lib style */
.mad-lib {
    overflow:hidden;
    font-size: 14px;
}
.mad-lib .html,
.mad-lib .madlibstyle{
    clear:none;
    float:left;
    height:30px;
    line-height: 50px;
    margin: 0 5px 0 0;
    vertical-align: bottom;
    width: auto !important;
}
.mad-lib .break {
    clear:both;
}
.mad-lib input:focus{
    outline:none;
}
.mad-lib ul {
    margin: 0;
}
.mad-lib input.wide{
    min-width: 280px;
}
form .mad-lib input[type='text']{
    padding:4px 5px !important;
    border-top:none;
    border-right:none;
    border-bottom: 1px dashed #c2c2c2;
    border-left:none;
    font-weight:300;
    margin-top: 13px;
}
form .mad-lib input.required.empty {
    border-bottom: 1px dashed #FF9933;
    background: rgba(255, 153, 51, 0.1);
}
form p{
    font-size:14px;
}
form p a{
    color: inherit;
}
#flat-donation-section{
    min-height:100px;
}

/* Tables (temporary until tables are converted)
================================================== */
table {margin-top:10px;margin-bottom: 10px;}
th {font-weight:bold; text-align: center; }
th, td {border: 1px solid #444;padding: 3px; }
thead th {border-bottom: 2px solid #444;}
tbody th {border-right: 2px solid #444;}
tbody tr:hover, tbody tr.on-hover {color:black;background-color:#f4f4f1;}
tfoot td {border-top:2px solid #444;}

table a {text-decoration: underline;}
table a:link {color:#664b39;}
table a:visited {color: #444;}
table a:hover {color:#719764;}

.transaction-table th {text-align:left;padding:2px 3px 0;}
.transaction-table td {border-bottom: 1px dotted #444;padding:6px 8px 0;}
.transaction-table tfoot td {border-bottom:1px solid #444;}
td.numeric {text-align:right;}

#receipts #donation-detail-section{
    border-top: 1px dotted #444;
    padding-top:12px;
}
table.sales-data {border:solid 1px;border-collapse: collapse;font-size:14px;width:100%;clear:both;}
table.sales-data thead tr{border-bottom:solid 1px;}
table.sales-data {
    font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table.sales-data td, table.sales-data th {border:dotted 1px;}
table.sales-data tr.subtotal {border:solid 2px;}
table.sales-data tr.subtotal td {font-weight:bold;}
table.sales-data tr.grand-total {border-top:solid 3px;}
table.sales-data tr.grand-total td {font-weight:bold;}

#receipts table.sales-data {width:auto; min-width:220px;}
#receipts #checks-summary{
    clear:both;
    margin-top:20px;
    border-top:1px dotted #ddd;
    padding-top:10px;
}
#receipts #checks-summary p{
    font-size:14px;
    margin: 2px 0px 0px 5px;
}
#receipts #checks-summary p.funds-due{
    font-size:15px;
    margin-left:0;
}
#receipts #checks-summary .message{
    font-style:italic;
    margin-left:5px;
}
#receipts #donation-summary #donation-data tbody tr.has-detail,
#receipts #checks-summary #checks-list tbody tr.has-detail{
    cursor:pointer;
}
#receipts #donation-summary #donation-data tbody tr.has-detail td,
#receipts #checks-summary #checks-list tbody tr.has-detail td{
    cursor:pointer;
    text-decoration: underline;
}
#receipts #donation-summary #donation-data tbody tr.has-detail:hover td,
#receipts #checks-summary #checks-list tbody tr.has-detail:hover td{
    text-decoration:none;
    color:#719764;
}

.on-page-help-links a.help{
    float:right;
    clear:both;
    display:block;
}

#Table_Events hr {margin:0;}

/* FirstGiving 3rd party widget override
================================================== */
div#fgContainerDiv div.charity-search-container {
  width:400px;
}
form#FindOrgForm{margin-bottom:0;}
#fg-logo {display:none;}
div#fgContainerDiv {
    min-height:0;
    overflow:hidden;
}
div#fgContainerDiv #fgGraphWidgetContainer{
    padding-top:0;
}
div#fgContainerDiv #fgGraphWidgetContainer #fgSearchForm{
    border:none;
    background:inherit;
    padding:0;
}
div#fgContainerDiv #fgGraphWidgetContainer #fgNameStart{

    border: 1px inset #EBEBEA;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    width:250px;
    font-size:16px;
    background: white url(/images/magnifying_glass.png) no-repeat 7px 7px;
    padding-left:30px;
    position:absolute;
    right:-999px;

}
div#fgContainerDiv #fgGraphWidgetContainer #fgNameStart.fgHinted{
    font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:    #999;
}
div#fgContainerDiv #fgGraphWidgetContainer #fgAdvancedControls{
    margin-top:0;
    margin-right:0;
}
div#fgContainerDiv #fgGraphWidgetContainer #fgAdvancedFeaturesButton{
    width:120px;
}
div#fgContainerDiv #fgGraphWidgetContainer #fgAdvancedFeaturesButton img{
    display:none;
}

/* Other third party attribution
================================================== */
.third-party-attribution {font-weight:normal;font: 16px Tahoma, Geneva, sans-serif;}

/* Wordpress Blog Scrape
================================================== */
/* Alignment */
div.wordpress-content .alignleft {
    display: inline;
    float: left;
    margin-right: 11px;
}
div.wordpress-content .alignright {
    display: inline;
    float: right;
    margin-left: 11px;
}
div.wordpress-content .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.wordpress-content .entry-content h1,
div.wordpress-content .entry-content h2,
div.wordpress-content .entry-content h3,
div.wordpress-content .entry-content h4 {
    margin-bottom: 0.425em;
}
div.wordpress-content img.alignleft,
div.wordpress-content img.alignright,
div.wordpress-content img.aligncenter {
    margin-bottom: 2px;
}

/* jquery ui
================================================== */

div.ui-datepicker{
  font-size:12px;
}
.columns div.ui-datepicker-group{
    width:100%;
}
.static-datepicker.override .ui-state-default, .ui-datepicker-calendar .merchant-available a {
    border: 1px solid #576C45;
    background: #719764 url(/css/images/ui-bg_inset-hard_65_719764_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #F0F3EC;
}
.static-datepicker.override .ui-datepicker-unselectable .ui-state-default, .ui-datepicker-calendar .merchant-not-available a{
    border: 1px solid #CCC;
    background: #C7C2C2 url(/css/images/ui-bg_highlight-hard_100_c7c2c2_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #585656;
}
#available-dates .ui-datepicker-inline{
    margin-left:25px;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.percentage-value, .calculated-value {font-weight:bold;color:#F87217;}
.precentge-slider-wrapper {float:left;margin:-7px 10px 0px 10px;vertical-align:top;}
.percentage-value-slider {float:left;width:75%;}
.fat-slider {margin-bottom:10px;}
.fat-slider .ui-slider {margin:10px;}
.fat-slider .ui-slider .ui-slider-handle{width:30px;height:30px;top: -.4em; margin-left: -.6em;}

/* Modals
================================================== */
.help-modal, .form-modal, .fixed-form-modal {
  background-color: #f7f7f7;
  padding:20px;
  width:550px;
  height:auto;
/*
  background: url(../images/eggshell-pattern.png);
  margin:10px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  */
}
.fixed-form-modal.large{
    width:700px;
}
.help-modal #main, .form-modal #main, .fixed-form-modal #main {
  float:left;
}

.help-modal dl dt{
    font-weight:bold;
    margin-top:5px;
}
.help-modal dl dd{
    margin-left:20px;
}
a.help-modal-icon {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/help.png) no-repeat left top;
    text-indent: -9999px;
}
span.delete-icon {
    display:inline-block;
    width:26px;
    height:16px;
    background: url(../images/redx-small.png) no-repeat right top;
    text-indent:-9999px;
}
span.delete-icon:hover{
    cursor:pointer;
}

#cboxLoadedContent div.legal, #cboxLoadedContent .table-modal {
  background: url(../images/eggshell-pattern.png);
  margin: 0;
  padding: 10px;
  width: 700px;
  height: auto;
    /*
  -webkit-border-radius: 6px;
  border-radius: 6px;
  */
}

/* Specific pages
================================================== */

#merchant-create-event h3 {
  font: bold 25px 'Yanone Kaffeesatz', sans-serif;
  color: #664b39;
  margin-top:1.5em;
}
#event-display, #event-display a, #event-display a:visited,
#create-event-success {
  color:#664B39;
}
#event-display .btn a{
  color: #F9FFF9;
}
#event-display h3,
body#campaign-charity-sign-up h3{
  color:#664B39;
  margin-top:20px;
  font: bold 30px 'Yanone Kaffeesatz', sans-serif;
    clear:both;
}
body#campaign-charity-sign-up #main{
    margin-top: 35px;
}
#event-display .business-name, #event-display .nonprofit-name{
  font-weight:bold;
}
#event-display #FaceBookEventForm{
  margin-bottom:0;
}
#event-display select.event-select-element{
  width:300px;
  height:28px;
  font-size: 0.9em;
}
#event-display .quoted-email{
  color: #444;
  border: 2px solid #664B39;
  padding:15px;
}
.event-detail {
  margin:20px 0;
    clear:both;
}

.event-detail p {
  margin-bottom:3px;
    clear:both;
}
.event-detail p span.label{
  display: inline-block;
  padding: 5px 0;
  background-color: #d0cec3;
  color:#fff;
  font-weight:bold;
  min-width: 80px;
  text-align: center;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
    float:left;
}
.event-detail p.donation span.label.no-pad{
    min-width: 115px;
}
.event-detail p span.data{
    float:left;
    padding:7px;
    width: 600px;
    line-height: 25px;
}
.event-detail p span.data a{
    text-decoration: none;
}
.event-detail p.donation span.data.no-pad{
    margin-left:auto;
    display:inline;
    width:570px;
}
.event-detail a, .event-detail a:visited{
    font-weight:bold;
}
.event-detail .cause .data a {
     font-size: inherit;
}
.brag-box{
    clear:both;
}
.brag-box span{
    font-size: 20px;
    font-weight: bold;
    color: #664B39;
    padding:0 12px;
}
.brag-box span.money{
    color: #444;
    font-size:16px;
    max-width:120px;
    border:none;
}
.brag-box .money, .money{
    text-align:right;
}
.brag-box label{
    clear:both;
    padding:5px;
    border-bottom: 1px dotted gray;
}
.input-style{
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form.override_skel span.input-impostor{
    border:1px inset #EBEBEA;
    color: #777;
    height: 17px;

    padding: 6px 4px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 210px;
    max-width: 100%;
    background: #fff;
    margin:0;
}
form.override_skel span.input-impostor.center-display{
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    color:#333;
}
.time-range-slider, .percentage-slider{
    width: 225px;
}
#allocation-app table {width:100%; border:none;}
#allocation-app tr {border:none;}
#allocation-plan tr {border-bottom: 1px dotted #cccccc;height:40px;}
#allocation-app td {vertical-align: middle;padding:5px; border:none;}
#allocation-app td.charity, #allocation-app span.charity {width: 436px; display:inline-table;margin:0;}
#allocation-app td.money, #allocation-app span.money {width:175px;display:inline-table;margin:0}
#allocation-app td.status, #allocation-app span.status {display:inline-table;}
#add-row {display:inline-block;}
#allocation-plan tr:last-child{
    border-bottom:none;
}
.plan-list .status{
    text-transform: lowercase;
    font-style: italic;
}
.plan-list .status.display-NEW{
    color:green;
}
.plan-list .status.display-DRAFT{
    color:yellow;
}
.plan-list .status.display-APPLYING{
    color:black;
}
.plan-list .status.display-SPENT, .plan-list .status.display-DELETED{
    color:gray;
}
#add-row input{
    display:inline;
}
input.disabled{
    pointer:default;
    -webkit-text-fill-color: #880000;
}
div#cause-selector p.customer-choice{
    font-size:14px;
    color: #333;
    margin-left:5px;
    margin-bottom:5px;
}
div#cause-selector p.customer-choice .help{
    font-size:inherit;
}
div#cause-selector label.lone{
    padding-bottom:0px;
}
div#cause-selector a.pick-a-charity.help{
    font-size:0.8em;
}

#create-event-success p.upgrade-message .btn.administer{
    vertical-align:top;
    margin-left:10px;
}
#create-event-success #events_section ul{
    margin-bottom:0;
}
#create-event-success .social-add-this-padding{
    width:92px;
    float:left;
    margin-right:20px;
}
#create-event-success .social-add-this{
    margin-top:0;
}
#create-event-success .social-add-this div{
    display:inline-block;
    float:left;
    max-width:512px;
}
#create-event-success .facebook-action{
    margin:0 15px;
    font-weight:bold;
    font-size:13px;
}
#create-event-success .facebook-action a{
    vertical-align: bottom;
}
#create-event-success .facebook-action a img{
    vertical-align: middle;
}
#create-event-success div.upgrade-message{
    padding:21px;
    font-family:sans-serif;
    border:1px solid #A36105;
    font-size:0.9em;
    margin:auto;
    text-align:center;
    background-color: #FFFBF5
}
#create-event-success div.upgrade-message p{
    text-align:left;
}
#choose-price-page .payment-plan{
    border: 1px solid #B8B8B8;
    margin:10px;
    padding:20px;
}
#choose-price-page .best-value h3,
#choose-price-page p.savings{
    color: #f57d20;
}
#choose-price-page .payment-plan p{
    margin-bottom: 0;
}
#choose-price-page p.savings img{
    vertical-align: middle;
}
#price-page .no-wrap{
    white-space:nowrap;
}
#price-page table.pricing-tables caption
{
    display:none;
}
#price-page table.pricing-tables .corner{
    border-top:none;
    border-left:none;
    width:50%;
    text-align:left;
}
#price-page table.pricing-tables tr td,
#price-page table.pricing-tables tr th{
    height: 20px;
    border:1px dotted #B8B8B8;
}
#price-page table.pricing-tables tr:hover td,
#price-page table.pricing-tables tr:hover th{
    border-top:1px solid #B8B8B8;
    border-bottom:1px solid #B8B8B8;
}
#price-page table.pricing-tables tr:hover td.corner{
    border-top:none;
}
#price-page table.pricing-tables tbody tr th{
    font-weight:normal;
    font-size:0.7em;
    text-align:left;
    padding-left:0.5em;
    font-family:tahoma;
}
#price-page table.pricing-tables td {
    text-align: center;
    font-size:0.7em;
    width:200px;
    margin:0 auto;
}
#price-page table.pricing-tables .checked{
    background: url(../images/tick.png) no-repeat center center;
    vertical-align:middle;
}
#price-page table.pricing-tables .checked span{
    display:block;
    height:0;
    width:0;
    overflow:hidden;
}
#price-page table.pricing-tables .unchecked span{
    display:none;
}
#price-page table.pricing-tables thead th h4{
    font: bold 29px 'Yanone Kaffeesatz', sans-serif;
    color: #664b39;
}
#price-page table.pricing-tables thead th div{
    font-weight:normal;
    font-size:0.9em;
}
#price-page table.pricing-tables thead th div.price-string{
    font: bold 25px 'Yanone Kaffeesatz', sans-serif;
}
#price-page table.pricing-tables thead th div.btn{
    margin-top:5px;
}
#price-page table.pricing-tables thead th.best-value,
#price-page table.pricing-tables tbody th.best-value{
    background-color:#DDE7DA;
    border-top: 1px solid #6d9063;
    border-left:1px solid #6d9063;
    border-right:1px solid #6d9063;
}
#price-page table.pricing-tables thead th.best-value div{
    margin-top:6px;
}
#price-page table.pricing-tables thead th.best-value h4,
#price-page table.pricing-tables thead th.best-value div.price-string{
    color: #f57d20;
}
#price-page table.pricing-tables tbody td.best-value{
    background-color:#DDE7DA;
    border-left:1px solid #6d9063;
    border-right:1px solid #6d9063;
}
#price-page table.pricing-tables tbody tr.last-row td.best-value{
    border-bottom: 1px solid #6d9063;
}
#price-page table.pricing-tables tbody tr:hover td.best-value{
    background-color:#B3C8AC;
}
#price-page table.pricing-tables tbody tr.inline-header th{
    font-weight:bold;
    text-transform: uppercase;
}
#price-page table.pricing-tables tbody tr.inline-header th.plan{
    text-align: center;
}
#price-page table.pricing-tables tbody tr td div.invoice-value{
    font-weight:bold;
    padding:10px;
}
#price-page .help {
    font-size:1em;
    font-style:normal;
    text-align: center;
}
#price-page table p.help{
    font-size:9px;
    font-style:italic;
    font-weight:100;
    margin:5px;
}
#price-page form.override_skel .help,
#price-page table .corner p.help{color:#444;font-size:0.8em;font-style:italic;text-align:inherit;}
#price-page .faq ul li span{
    display:block;
}
#price-page .faq .q{
    font: bold 25px 'Yanone Kaffeesatz', sans-serif;
    color: #664b39;
    margin-top:1em;
}

body#campaign-page.clean-embed #main{
    padding-top:0;
}
body#campaign-page.clean-embed #main #events_section{
    padding-bottom:0;
}
body#campaign-page a#logo {display:none;}
body#campaign-page #body_section_band{
    background:none;
}
body#campaign-page .bottom_body_section_stitch{
    display:none;
}
body#campaign-page #main{padding-top:20px;}
body#campaign-page #main h2{color:#664b39;font-weight:bold;font-size:45px;}
body#campaign-page #main h3{color:#ca5202;font:18px/1.4 Georgia, serif;padding-left:2px;}

body#campaign-page #main #join-action-section label.emphasize {
    font-size:15px;
    color:#ca5202;
}
body#campaign-page #main .content{
    padding:20px 3px 10px;
    border-top:solid 3px #5c4334;
    border-bottom:solid 1px #5c4334;
    font-size:15px;
    line-height:18px;
    margin-top:15px;
}
body#campaign-page #main .content ul{list-style-type:disc; margin-left:30px;}
body#campaign-page #main .content ul:first-child, body#campaign-page #main ol:first-child{
    margin-left:20px;
    clear:both;
}
body#campaign-page #main .content .square-image {
    float: left;
    max-width: 95px;
    max-height:300px;
    margin-right: 30px;
    margin-bottom: 20px;
}
body#campaign-page #main .content .wide-image {
    display: block;
    max-height: 300px;
    max-width: 510px;
    margin: 0 auto 20px auto;
}
body#campaign-page #main .content p img{
    max-width:500px;
}
.video-container {
    clear:both;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom:10px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body#campaign-page #main{
}
body#campaign-page #main #events_section {padding-top:10px;}
body#campaign-page #main #events_section li.ShopLocal2013 .calendar_box,
#main #events_section li.ShopLocal2013 .calendar_box,
#event-preview-panel li.draft.ShopLocal2013 .calendar_box{
    background: transparent url(../images/shoplocalweekiconbag.jpg) no-repeat left top;
    height:100px;
    background-size: contain;
}
#main #events_section li.ShopLocal2013 .calendar_box span,
#event-preview-panel li.draft.ShopLocal2013 .calendar_box span{
    visibility: hidden;
}
.container .campaign-left.columns { width: 510px;}
.container .campaign-right.columns { width: 330px; position:absolute; }
.container .campaign-left {padding:10px 10px 10px 20px;}
.container .campaign-right{padding:10px 20px 10px 10px;}
.campaign-right .action-block{margin:5px 0 27px;}
.campaign-right .action-block .message-block{
    background-color:#f66300;
    color: #fff;
    padding: 20px;
    font-size: 19px;
    border: 1px solid #a1a1a1;
    border-top-color: #a4a4a4;
    border-bottom: none;
}
.campaign-right .action-block .button-block{
    padding:17px 20px;
    border:1px solid #a3a3a3;
    border-top-color:#a5a2a0;
}
.campaign-right .action-block .button-block > div{
    float:left;
}
.campaign-right .action-block .button-block > div.clear{
    clear:both;
    float:none;
}
.campaign-right .action-block .button-block .join-type-selectors{
    margin-left:28px;
}
.campaign-right .resource-block{
    padding: 5px;
    margin: 10px 0;
    background-color: #f6f6f6;
    border: 1px solid #dedede;
    border-bottom-color: #e1e1e1;
    border-top-color: #e1e1e1;
    clear:both;
}
.campaign-right .resource-block ul{ margin-left:7px; margin-top:19px;font-size:14px;}
.campaign-right .resource-block li{list-style-type: none;line-height: 20px;}
.campaign-right .resource-block li a{
    display: block;
    padding-left: 30px;
    width: 250px;
    text-decoration: none;
    background: transparent url(../images/bullet-arrow.png) no-repeat left top;
    background-size: 20px;
}
.campaign-right .related-campaign-block{
    background-color: #444;
    color: #f6f6f6;
}
.campaign-right .related-campaign-block h5{
    color:inherit;
    margin: 5px 5px 5px 14px;
    font-size:18px;
}
.campaign-right .related-campaign-block ul{
    margin-top:10px;
    margin-bottom:10px;
}
.campaign-right .related-campaign-block li{
    line-height:18px;
}
.campaign-right .related-campaign-block li a{
    color: #dcdada;
    background: transparent url(../images/bullet-arrow-black.png) no-repeat left top;
    background-size: 18px;
    font-size:14px;
}
.campaign-right .related-campaign-block ul li a:hover{
    color:#fff;
}
.campaign-right .addthis_toolbox .fb_iframe_widget{ width:79px;}
.campaign-right .addthis_toolbox  .addthis_button_tweet {width:80px;}
.campaign-right .addthis_toolbox .addthis_button_google_plusone {width:63px;}

.campaign-right .poster-block{min-height: 200px;
    margin-bottom: 25px;
    position: relative;
    border: 1px solid #FEFCE7;
    clear:both;
}
.campaign-right .poster-block a{
    height:200px;
    border: 1px solid #ddd;
    float: right;
}
.campaign-right .poster-block span{
    max-width: 100px;
    margin-top: 37px;
    margin-left: 19px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: #616F2A;
    position:absolute;
}
.campaign-right .poster-block span img{
    position:absolute;
    bottom:-34px;
    right:-34px;
}

/* Partner Page & event template
================================================== */
div.event-tag{
    text-align: center;
    margin-top:10px;
}
div.instructions{
    margin:10px 0;
}
#right_rail .partner-highlight,
div.add-wrap{
    background-color: #f7f3ea;
    border: 1px solid #e9ebdd;
    padding:4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:0px;
    margin-top:10px;
    display:inline-block;
    color:#7d7471;
    font-size:12px;
    margin-left:auto;
    margin-right:auto;
}
div.add-wrap{
    margin-bottom:0;
}
div.btw-box{
    padding:10px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #f7f3ea;
    text-align:center;
    border: 3px solid #e1e1dc;
    font-size:0.8em;
    line-height:0.9em;
    padding:20px 0;
}
fieldset.login-banner{
    margin-bottom:0;
}
div.warning-banner{
    display: inline-block;
    padding: 10px 0 10px 60px;
    background:transparent url(../images/icon-warning.png) 10px center no-repeat;
}
#customer-choice-preferences ul.tabs a span.hover-alert{
    display: inline-block;
    padding-left:16px;
    background:transparent url(../images/icon-warning.png) 3px center no-repeat;
    background-size:contain;
    width:16px;
    height:16px;
    margin-bottom: -2px;
}
div.warning-banner p{
    margin:0;
    font-size:0.9em;
}
div.warning-banner p a{
    text-decoration:underline;
    color:#F87217;
}
div.btw-box p.highlight-link a{
    text-decoration:underline;
    color:#dd9a42
}
#right_rail .partner-siderail{
    text-align:center;
    margin-bottom:20px;
    min-height:0;
}
#right_rail .partner-highlight div{
    margin:0;
    min-height:0;
}
#right_rail .partner-highlight{
    padding:10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width:170px;
    margin-left:auto;
    margin-right:auto;
    min-height: 100px;
}
div.add-wrap img{
    background-color:#fff;
}
#right_rail .partner-highlight a,
#right_rail .partner-highlight a:visited{
    color:#7D7471;
}
#right_rail .partner-highlight .vcard {
    text-align:left;
    line-height:30px;
    font-weight:bold;
}
#right_rail .partner-highlight .vcard .org{
    text-align:center;
    font-size:13px;
    font-weight:bold;
    margin-bottom:20px;
    line-height:18px;
}
#right_rail .partner-highlight .vcard a.email,
#right_rail .partner-highlight .vcard a.url{
    padding:10px 0 10px 24px;
    background:transparent url(../images/bullet-arrow.png) 0px center no-repeat;
}
#right_rail .partner-highlight .vcard div.tel{
    padding-left:24px;
    background:transparent url(../images/bullet-arrow.png) 0px center no-repeat;
}
#right_rail .partner-highlight .logo-highlight {
    padding: 5px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin:0;
    min-height:100px;
    margin-bottom:10px;
}
#right_rail .partner-highlight .logo-highlight img{
    max-width: 150px;
}
#main div.resources-box{
    border: 2px solid #e8e8e8;
    padding:15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#f4f4f4;
    margin:1em 0;
    font-size:15px;
}
div.resources-box h5{
    color:#664B39;
    font-weight:bold;
    margin:0 0 10px 25px;
}
div.resources-box h6{
    color:#664B39;
    font-weight:normal;
    margin:0 0 10px 25px;
}
div.resources-box ul
{
    width: 600px;  /* room for 3 columns */
}
div.resources-box ul li
{
    line-height:20px;
    margin-bottom:10px;
    float: left;
    width: 300px;  /* accommodate the widest item */
}
div.resources-box ul li a
{
    display: block;
    padding-left:30px;
    background:transparent url(../images/bullet-arrow.png) 20px center no-repeat;
    width: 250px;
    text-decoration: none;
    background-position:left top;
    margin-left:20px;
}
div.resources-box ul li a.hostedby
{
	padding-left:0px;
    background:none;
}

div.resources-box ul li span
{
    display: block;
    padding-left:45px;
    text-decoration: none;
	vertical-align:bottom;
}
div.resources-box.fourteen.columns ul{
    width: 800px;
}
div.resources-box.fourteen.columns ul li{
    width: 400px;
}
div.resources-box.fourteen.columns ul li a{
    width:315px;
}

/* stop the floating after the list */
div.resources-box br
{
    clear: left;
}

div.resources-box div{
    text-align:center;
    color: #664B39;
    font-weight:700;
}
div.resources-box span.btn a{
    font-weight: 700;
}

.badgeText {
	vertical-align:middle;
	font-size:10pt;
}
.badgeImage {
	vertical-align:middle;
}

.campaign-description {
}
.campaign-description ul, .campaign-description ol,
.template-process.instructions ul, .template-process.instructions ol
{ margin-left:40px;}

.campaign-description ul,
.template-process.instructions ul
{list-style-type: disc;}

.campaign-description ol,
.template-process.instructions ol
{list-style-type: decimal;}

.campaign-description p:first-child,
.template-process.instructions p:first-child{
    margin-top: 20px;
}
#map {
   border: 2px solid #e8e8e8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#f4f4f4;
	height:500px;
}
.premium-pane p{
    margin:5px 0 20px 5px;
}
.premium-pane label div{
    font-weight:normal;
    font-size:16px;
    padding:10px 30px;
}
.premium-pane label div p{
    margin:0;
}
.premium-pane label div ul{
    list-style-type:disc;
}
.premium-pane label span{
    font-size:18px;
    padding-left:5px;
    vertical-align:bottom;
}

/* Specific features
================================================== */
.snapshot{
    text-align:center;
    padding: 20px 0;
}
.snapshot img.frame{
    margin: 0 5px 10px;
    background-color: #FAFAFA;
    padding: 5px;

    -webkit-box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    box-shadow: 0 1px 2px #999;

    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg); /* IE 9 */
    -moz-transform: rotate(-2deg); /* Firefox */
    -webkit-transform: rotate(-2deg); /* Safari and Chrome */
    -o-transform: rotate(-2deg); /* Opera */
}
#cboxLoadedContent > img{
     background-color: #FAFAFA;
     padding: 8px;
 }
.snapshot .caption{
    font-size: 0.6em;
}
.snapshot q{
    display:inline-block;
    font-style: italic;
}

/* Print Styles for the posters and cards
================================================== */
body#print-event-poster {
    -webkit-print-color-adjust: exact; /* chrome gray-scale issue */
    width:790px;
    margin:0px;
}
body#print-event-poster .logo-container{
    height:120px;
    vertical-align:middle;
}
body#print-event-poster img.logo-image{
    max-height: 120px;
    line-height:12px;
}
body#print-event-poster.compressed .logo-container{
    height:100px;
}
body#print-event-poster.compressed img.logo-image{
    max-height:100px;
}
body#print-event-poster .key-instructions{
    font-style:italic;
}
body#print-event-poster #banner_caption,
body#print-event-poster #footer_banner{
    font-family:'Yanone Kaffeesatz',sans-serif;
    font-size:32px;
    font-weight:bold;
}
body#print-event-poster #banner_caption{
    left:150px;
    color: #f57d20;
}
body#print-event-poster #banner_caption.large{
    top:37px;
    font-size:52px;
}
body#print-event-poster #banner_caption.average{
    top:47px;
    font-size:40px;
}
body#print-event-poster #banner_caption.medium{
    top:54px;
    font-size:32px;
}
body#print-event-poster #banner_caption.small{
    top:54px;
    font-size:25px;
}
body#print-event-poster #banner_caption.compressed{
    top:47px;
    font-size:25px;
    line-height: 1.1em;
}

body#print-event-poster .poster-footer td#footer-color{
    position:relative;
    line-height:0;
    height:49px;
    vertical-align: middle;
    overflow:hidden;
}
body#print-event-poster #footer_banner{
    margin-top:-24px;
    height:27px;
    width:100%;
    color:#fff;
    text-align:center;
    text-transform:lowercase;
    font-weight:normal;
}
body#print-event-poster #footer_content {
    font: 12px/1.0 Georgia, serif;
    color: #664B39;
    padding: 10px;
}
body#print-event-poster #poster-table .cause-data{
    float:left;
    padding-left:10px;
}
body#print-event-poster .customer-data{
    float:right;
    padding-right:10px;
}
body#print-event-poster table *{
    margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
body#print-event-poster #poster-table{
    position:relative;
    z-index: 3;
    width:100%;
    text-align:center;
}
body#print-event-poster #poster-table tbody tr:hover {color:inherit;background-color:inherit;}
body#print-event-poster #poster-table td{
    border:none;
    padding:0;
    color:#664B39;
}
body#print-event-poster .poster-header img{
    height: 148px;
    position:relative;
}
body#print-event-poster .poster-footer img{
    width: 790px;
}
body#print-event-poster #headline{
    vertical-align:middle;
    height:380px;
}
body#print-event-poster #headline p {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    margin:0;
}
body#print-event-poster #headline.largest p{
    font-size: 90px;
    line-height: 110px;
}
body#print-event-poster #headline.larger p{
    font-size:80px;
    line-height:110px;
}
body#print-event-poster #headline.smaller p{
    font-size:55px;
}
body#print-event-poster #headline.smallest p{
    font-size:45px;
}
body#print-event-poster #headline p span{
    text-transform:uppercase;
    vertical-align:bottom;
}
body#print-event-poster #headline p.emphasize{
    font-weight:bold;
}
body#print-event-poster #headline p.emphasize span{
    text-transform:none;
}
body#print-event-poster #instructions{
    height:210px;
    vertical-align: middle;
}
body#print-event-poster #instructions p {
    font-size: 20px;
    margin: 0;
    line-height: 1.7em;
}
body#print-event-poster.compressed #headline{
    height:330px;
}
body#print-event-poster.compressed #instructions{
    height:150px;
}
body#print-event-poster.compressed #instructions p{
    font-size:18px;
}

/* Social Media slide-out
================================================== */

.social-media-sample-handle {
    position:fixed;
    right:0px;
    top:120px;
    padding:5px;
    border:1px solid #ddd;
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: #737373;
    background-color: #f2f2f2;
    z-index:9999;
    cursor:pointer;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    transform-origin:100% 100%;

    -ms-transform-origin:100% 100%; /* IE 9 */

    -webkit-transform-origin:100% 100%; /* Safari and Chrome */

}
.social-media-samples{
    position:absolute;
    right:0px;
    top:120px;
    background:#fff;
    z-index:9999;
    border:1px solid #e8e8e8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size:14px;
    color:#333;
    float:right;
    display:none;
    width: 520px;
}
.social-media-samples .heading h2{
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size:18px;
    font-weight:bold;
    line-height: 20px;
    text-rendering:optimizeLegibility;
    margin-left:20px;
    display:inline-block;
    margin-top:20px;
}
.social-media-samples .heading a{
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight:bold;
    font-size:26px;
    color:#737373;
    float:right;
    border-left:1px solid #e8e8e8;
    padding: 3px 15px 11px;
    display:inline-block;
    text-decoration:none;
}
.social-media-samples .heading a:hover{
    background-color:#f2f2f2;
    color: #262626;
}
.social-media-samples ul{
    list-style:none;
    margin:0;
    padding:0; border-top:1px solid #e8e8e8;
}
.social-media-samples ul li {
    min-height:51px;
    padding: 9px 12px;
    position:relative;
    border-bottom:1px solid #e8e8e8;
    border-left:1px solid rgba(0,0,0,.1);
    border-right:1px solid rgba(0,0,0,.1);
    background-clip: padding-box;
    cursor:pointer;
}
.social-media-samples ul li .content{
    margin-left: 58px;
}
.social-media-samples ul li .content textarea{
    width: 100%;
    min-height:22px;
    font-size:13px;
}
.social-media-samples ul li.tweet {
    background:transparent url(/images/twitter-bird-light-bgs.png) no-repeat 0 0;
    background-size:48px;
    background-position:15px 6px;
}
.social-media-samples ul li.share {
    background:transparent url(/images/FB-f-Logo__blue_29.png) no-repeat 0 0;
    background-size:29px;
    background-position:25px 15px;
}
.social-media-samples ul li.email {
    background:transparent url(/images/newsletter.png) no-repeat 0 0;
    background-size:32px;
    background-position:24px 12px;
}

/* Merchant Images
================================================== */
form#merchant-images textarea.wmd-input{
    height: 300px;
    font-size:15px;
    background-color: #fff;
    width:98%;
    margin:auto;
    margin-bottom:20px;
}
.file-upload {
    position: relative;
    overflow: hidden;
    display:inline-block;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    cursor:pointer;
    color: #333333;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.file-upload span{
    font: 18px 'Yanone Kaffeesatz', sans-serif;
}
.file-upload  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 30px;
    line-height: 30px;
    width:auto;
    border:0;
    border-radius: 0;
    vertical-align: middle;
}
form#merchant-images input#uploadFile{
    display:inline-block;
    background-color: #eeeeee;
    vertical-align: top;
}
form#merchant-images .required:after{color:red;content:"*";}
form#merchant-images .required{color:inherit;}
form#merchant-images fieldset{
    position:relative;
    padding-top:50px;
}
form#merchant-images fieldset legend{
    position:absolute;
    top:20px;
    left:18px;
    font-size:16px;
}
form#merchant-images textarea.small{
    height:55px;
    width: 335px;
}

.image-meta-content{
    background-color: #e1e1e1;
    padding:20px;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size:15px;
}
.image-meta-content h6{
    font: 30px 'Yanone Kaffeesatz', sans-serif;
    font-weight:700;
    margin-bottom:10px;
    max-width:450px;
}
.image-meta-content p.venue{
    color: #664b39;
    font-weight:700;
    font: 20px 'Yanone Kaffeesatz', sans-serif;
}
.image-meta-content ul{
    list-style-type: disc;
    margin-left:25px;
}
.image-meta-content li{
    margin-bottom: 0;
    line-height: inherit;
}
.image-meta-content p.external-link a{
    color: #664b39;
    font-style: italic;
}
.image-meta-content img.preview{
    position:absolute;
    right:30px;
    top:25px;
    max-width:150px;
    border:2px solid #ffffff;
}
#cboxClose{
    top:1px;
    right:1px;
}
body.event-detail-page .flexslider{
    margin: 0 auto 20px;
    max-width:370px;
}
body.event-detail-page .flexslider-carousel{
    margin-bottom: 5px;
}
body.event-detail-page .flex-control-thumbs li{
    width:12%;
}
body.event-detail-page .event-detail-main{
    position:relative;
}
body.event-detail-page #event-display .action-link{
    float:none;
    position: absolute;
    top:0px;
    right:-35px;
}
body.event-detail-page .flexslider .flex-direction-nav a.flex-disabled {
    display:none;
}

body.event-detail-page #flexslider-carousel:hover .flex-next {opacity: 0.8; right: -36px;}
body.event-detail-page #flexslider-carousel:hover .flex-prev {opacity: 0.8; left: -36px;}
body.event-detail-page #flexslider-carousel .slides > li {border-right:3px solid #ddd;}
body.event-detail-page #flexslider-carousel .slides > li:last-child {border-right:none;}
body.event-detail-page .flex-direction-nav li {margin:0;}

#catalog-container{
    margin-top:20px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    clear:both;
}
#catalog-container .box{
    margin:6px;
    width:210px;
    border-radius: 3px;
    border:1px solid #cfcfcf;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    background: #fafafa;
    overflow:hidden;
}
#catalog-container .box .img-container img{
    border-bottom:1px solid #cfcfcf;
    width:210px;
    opacity: 0;
}
#catalog-container .box .meta{
    padding:10px;
}
#catalog-container .box .meta.venue{
    border-top:1px solid #cfcfcf;
    color: #999;
}
#catalog-container .box .meta.venue .name{
    font: bold 20px 'Yanone Kaffeesatz', sans-serif;
    color: #717171;
}
#catalog-container .box a:hover {
    text-decoration: none;
    color: inherit;
}
#catalog-search a.reset {
    text-decoration: underline;
    font-size: 14px;
    margin-left: 5px;
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/