/** Slider **/
.leaflet-control-zoomslider-slider-wrap {
  background-color: rgba(255, 255, 255, 0.75);
}

.leaflet-control-zoomslider-slider-wrap {
  background-repeat: repeat-y;
  border-top: 5px solid  rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  /*margin-bottom: 5px;*/
}

.leaflet-control-zoomslider-slider {
  background-image: url(images/zoom-slider.png);
  background-repeat: repeat-y;
  background-position: center 2px;
  height: 100%;
  cursor: default;
}

.leaflet-control-zoomslider-slider-knob {
  width: 13px;
  height:5px;
  background-color: black;
  background-position: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 5px;
  border: 5px;
  position:relative;
}
.leaflet-control-zoomslider-slider-knob:hover {
  cursor: pointer;
}

/** Leaflet Zoom Styles **/
.leaflet-container .leaflet-control-zoomslider {
  margin-left: 13px;
  margin-top: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  border: 1px solid #888;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  }
.leaflet-control-zoomslider a {
  width: 23px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  color: black;
  }
.leaflet-control-zoomslider a {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  }
.leaflet-control-zoomslider a:hover {
  background-color: #fff;
  color: #777;
  }
.leaflet-control-zoomslider-in {
  border-bottom: 1px solid #aaa;
  font: bold 19px/24px Arial, Helvetica, sans-serif;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  }
.leaflet-control-zoomslider-in:after{
  content:"+"
}
.leaflet-control-zoomslider-out {
  border-top: 1px solid #aaa;
  font: bold 23px/20px Tahoma, Verdana, sans-serif;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  }
.leaflet-control-zoomslider-out:after{
  content:"-"
}
.leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.8);
  color: #bbb;
  }

.leaflet-touch .leaflet-control-zoomslider {
  border-radius: 10px;
  }
.leaflet-touch .leaflet-control-zoomslider-slider-knob {
  width:20px;
  }
.leaflet-touch .leaflet-control-zoomslider a {
  width: 30px;
  height: 30px;
  }
.leaflet-touch .leaflet-control-zoomslider-in {
  font-size: 24px;
  line-height: 29px;
  border-bottom: 4px solid rgba(0,0,0,0.3);
  border-radius: 7px 7px 0 0;
  }
.leaflet-touch .leaflet-control-zoomslider-out {
  font-size: 28px;
  line-height: 24px;
  border-top: 4px solid rgba(0,0,0,0.3);
  border-radius: 0 0 7px 7px;
  }

.leaflet-touch .leaflet-control-zoomslider {
  box-shadow: none;
  }

.leaflet-touch .leaflet-control-zoomslider {
  border: 4px solid rgba(0,0,0,0.3);
  }