
.leaflet-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding:5px;
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1000;	
}
.leaflet-control-search.exp {/*expanded*/
	box-shadow: 0 1px 7px #999;	
}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	font-size:.85em;
	background: #fff;
	border:1px solid #666;
	border-radius:.35em;
	height:18px;
	padding:0 .125em;
	margin:0 .5em 0 0;
}
.leaflet-control-search .search-input.load {
	background: url('../images/loader.gif') no-repeat center right #fff;
}
.leaflet-control-search .search-button {
	display:block;
	float:left;
	width:19px;
	height:20px;	
	background: url('../images/search-icon.png') no-repeat -1px -1px;
	background-color: rgba(255, 255, 255, 0.75);	
	border-radius:.25em;
}
.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	min-width:80px;
	box-shadow: 0 1px 7px #999;	
	background: #eee;
	border-radius:7px;
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	border:4px solid transparent;
/*	padding: 4px;	*/
	max-height:8em;
	overflow-y:auto;
	overflow-x:hidden;	
}
.leaflet-control-search .search-tip {
	font-size:.85em;
	line-height:1em;
	margin:.125em;
	padding:.25em;
	display:block;
	color:#333;
	background: #eee;
	border-radius:.25em;
	text-decoration:none;	
}
.leaflet-control-search .search-tip:hover,
.leaflet-control-search .search-button:hover {
	background-color: #fff;
}
.leaflet-control-search .search-alert {
	clear:both;
	font-size:.75em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius:.25em;
}

