.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 30px;
	}
.marker-cluster div {
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 25px;
	font: 24px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight:bold;
	}
.marker-cluster span {
	line-height: 40px;
	}

.marker-cluster-small {
    background-color: rgba(208, 236, 182, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(140, 214, 97, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(182, 226, 141, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(110, 204, 56, 0.6);
}

.marker-cluster-large {
    background-color: rgba(156, 216, 100, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(88, 166, 43, 0.6);
}