
#wrapper {
	//background: transparent url("../images/Skeleton-Grid.png") no-repeat -30px top;
}
#content {
	padding-top: 20px;
	
}
.logo-img {
    display:block;
	background: transparent url("../images/ctlogo_w150.png") no-repeat;
    height: 150px;
    width: 150px;
    padding-bottom:30px;
    text-indent: -9999px;
}

.icon-img{
    display:block;
    background: transparent url("../images/cticon_w48.jpg") no-repeat;
    width: 48px;
    height: 22px;
    padding-bottom:20px;
    text-indent:-9999px;
}

#sidebar {
	//padding-top: 40px;
}


#main {

}

#custom-header {
	background-color: #EEE;
	height: 45px;
}
#custom-header > div {
	/*width: 960px;*/
	margin: 0 auto;
}
#action-bar {
	float:right;
	/*height: 50px;*/
	margin-right: 50px;
}

#results h2 {font-size:2em;}

input[type="button"]{
	width: 100%;
	text-align: left;
	height:30px;
}

a.button.full {
    display:block;
}

#footer {
	text-align:center;
	background-color: #EEE;
}

.no-wrap { white-space:nowrap; }

form .alert, span.alert {
	color: red;
	font-weight: bold;
}

form input.watermarked {
	color: silver;
}

form label input.error {margin-bottom:0;}
form label textarea.error {margin-bottom:0;border: 1px dotted red;}
form label label.error {font-size:12px;margin-bottom:20px;}
form label.inline {display:inline;}

.field-display label {display:inline; font-size:1.1em;text-align:right;}
.field-display span {font-size:1.1em;}

td.numeric {text-align:right;}

a.mobile-alt, .mobile-alt, .mobile-alt-inline {display:none;}

/* sticky footers */
html, body {height: 100%;}
#wrapper {min-height: 100%;}
.container {overflow:auto; padding-bottom: 82px;}  /* must be at least same height as the footer */
#custom-header.container {padding-bottom: 32px;}
#footer {position: relative;
	margin-top: -62px; /* negative value of footer height */
	height: 62px;
	clear:both;} 
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* Contact Us */
#contact-us h2 {text-align:center;}
.contact-us-row {width:100%;margin:20px auto;}
.contact-us-label {text-transform:uppercase;font-size:2em;text-align:right;line-height:50px;width:95px !important;}
.contact-us-label.short {line-height:1;}
.contact-us-label.tall {line-height:100px;}
.contact-us-text {padding-left:25px;}
.contact-us-text ul {list-style-type:disc;margin-bottom:0;padding-left:25px;}
.contact-us-text li {margin-bottom:0;padding-right:25px;}
#contact-us form {
	margin:20px;
	width:90%;
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {

        .logo-img {
            display:block;
            background: transparent url("../images/ctlogo_w125.png") no-repeat;
            height: 125px;
            width: 125px;
            padding-bottom:30px;
        }
    }

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {

        .logo-img {
            display:inherit;
            text-indent: 0;
            background: inherit;
            height: inherit;
            width: inherit;
            padding: inherit;
        }

		.no-mobile {display:none;}
		a.mobile-alt, .mobile-alt {display:block;}
		.mobile-alt-inline {display:inline;}

		.contact-us-text {padding-left:0;}
		.contact-us-label {text-transform:uppercase;font-size:2em;text-align:center;line-height:50px;width:100% !important;}
		.contact-us-label.short {line-height:50px;}
		.contact-us-label.tall {line-height:50px;}
		#contact-us form {
			margin:5px 0 0 0;;
			width:100%;
		}
		
		.field-display label {display:inline; font-size:1.1em;text-align:left;}
		.field-display span {font-size:1.1em;}
    }
    
/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
 		.contact-us-label.short {line-height:50px;}
    }