#TopNav {border:0pt solid black;margin-bottom:10pt;margin-top:40px;}
	#SectionNav {position:relative;float:left;border:0pt solid blue;}
		.SectionNavItem {position:relative;float:left;padding:5pt;border-right:1pt solid black;}
		.SectionNavItemLast {border-right:0pt solid black;}
		.SectionNavItemSelected {font-weight:bold;}
		
	#AccountNav {position:relative;float:right;}
		.AccountNavItem {position:relative;float:right;padding:5pt;border-right:1pt solid black;}
		.AccountNavItemLast {border-right:0pt solid black;}
		
#BodyDiv {border:0pt solid red;clear:both;margin:15%;margin-top:0pt;margin-bottom:20pt;}
.BodyDiv {border:0pt solid red;clear:both;margin:15%;margin-top:0pt;margin-bottom:20pt;}

#Organization_Start_NotSignedup {text-align:center;}
#Organization_Start_NotSignedUp_startlinks {text-align:left;padding-left:20%;}
#SeeHowItWorks {float:left;}

#Merchant_Events {clear:both;margin-top:10px;}
#Merchant_Events table{border:1pt solid black;padding:0px;}
#Merchant_Events th, td{border-right:1pt solid black;padding:3px;}

#OrganizationEvent_UnAccepted {height:300px;overflow:auto;}
#Organization_Events {clear:both;margin-top:10px;}
#Organization_Events table{border:1pt solid black;padding:0px;}
#Organization_Events th, td{border-right:1pt solid black;padding:3px;}
#Organization_CreateEvent_ChooseDate {border:1pt solid black;padding:10px;padding-bottom:20px;position:relative;width:79%;}
.InputDate {width:75px;}
.InputTitle {width:100px;float:left;text-align:right;}
.InputInput {float:left;padding-right:10px;}
.InputWide {width:80%;}
.InputNarrow {width:50%;}
.InputNarrower{width:35%;}
.InputVeryNarrow{width:15%;}
.InputRowSpace {height:30px;clear:both;width:100%;padding-left:25%;}
#Recurrance {position:relative;display:none;float:none;border:0pt solid black;padding-top:5px;height:80px;}
#Recurrance_Type {float:left;border-right:1pt solid black;padding-right:10px;}
#Recurrance_Frequency {float:left;padding-left:10px;}
#FrequencySpan {padding-left:3px;}
.UnderLineTitle {text-decoration:underline;padding-bottom:5px;}
.LineSeparator {border-bottom:1pt solid black;margin-bottom:10px;}
.PickableImage {cursor:pointer;}

#Organization_CreateEvent_Optionals {position:relative;border-top:0pt solid black;margin-top:20px;padding:20px;width:100%;}
#Organization_CreateEvent_BizMatch {position:relative;border-top:2pt solid black;margin-top:20px;padding:20px;}
#MerchantCreateEvent {float:right;}

.Individual_GetAlert {width:300px;position:relative;left:-30px;float:left;}
.SearchForMerchants {position:relative;float:right;}
.RegisterForFree {position:relative;float:right;}
.Organization_JoinNow_Button {position:relative;float:right;}

.ProgressBarTable {width:100%;padding:0pt;margin:0pt;}
.ProgressHeader {border:0pt solid white;}
.ProgressHeaderItem {position:relative;float:left;text-align:center;}
.ProgressBarTable td{text-align:center;}
.ProgressRow {border:1pt solid black;clear:both;}
.ProgressRowItem {position:relative;float:left;border-top:1pt solid black;border-bottom:1pt solid black;}
.ProgressCompleted {background-color:silver;}

.ProgressDescription {border:0pt solid silver;margin-top:15px;}

#EnterEIN {text-align:center;padding:20px;}
#EnterEIN td{border:0pt;}
.EnterEIN {color:silver;border:1pt solid black;width:180px;font-size:16pt;}
.EnterYelpID {color:silver;border:1pt solid black;width:400px;font-size:14pt;}

#Proceed {position:relative;clear:both;float:right;}
#DisplayAPIResults {border:0pt solid red;}
#ApproveAPIResults {float:left;margin-left:20px;}
.DisplayAPIResults {border:0pt solid black; float:left;padding:5px;margin-left:5px;margin-bottom:5px;font-size:14pt;}
.InputOrgContactDiv {text-align:center;}
.InputOrgContact{float:left;font-size:14pt;color:silver;width:93%;margin:10px;}
.InputOrgEvent{font-size:14pt;color:black;width:80%;margin:10px;}
.InputZipCode {width:20%;}
.InputDescription {color:black;}
.InputOrgEventNarrow{width:40%;}
.InputOrgEventVeryNarrow{width:20%;}
#OrganizationConfigs {font-size:14pt;padding-left:200px;}
#OrganizationConfigs td{padding:10px;border:0pt;}

#PartnerPickerIframe {width:100%;}
.PartnerPickerRow {width:90%;}
.PartnerPickerCheck {float:left;width:40px;height:100px;border:0pt solid red;padding:5px;padding-top:2px;font-size:10pt;color:blue;}
.PartnerPickerName {float:left;width:300px;border:0pt solid black;padding:5px;}
.PartnerPickerBizImage {float:left;width:100px;border:0pt solid red;padding:5px;}
.PartnerPickerRating {float:left;width:200px;border:0pt solid green;padding:5px;}
.PartnerPickerReviews {clear:both;width:80%;height:35px;border-bottom:1pt solid silver;padding:5px;}

.YelpBizName {font-size:10pt;font-weight:bold;color:blue;}
.YelpBizImage {padding-right:10px;}
.YelpCategoriesLabel {font-size:8pt;}
.YelpCategories {font-size:8pt;color:blue;}
.YelpReviewImage {height:30px;vertical-align:text-top;}
.YelpPoweredByLogo {float:right;}
.imagebutton {cursor:pointer;}

#footer {border-top:1pt solid black;text-align:center;clear:both;}
.PrivacyPolicyLink {text-align:center;font-size:12pt;color:black;}

.MerchantSearch {
	background:transparent url(images/searchbox_bkg.gif) no-repeat left top;
    margin:0;
    max-width:230px;
    padding-left:16px;
	font-size:14pt;
	color:silver;
	margin:10px;
}
.AdvancedSearch {font-size:8pt;}

.AltRow {background-color:silver;}
.NewRow {clear:both;}
.SessionAlert {border:1pt solid red;background-color:yellow;font-weight:bold;padding:3px;}

.Review {clear:both;border:0pt solid red; padding-left:20px;margin-left:35px;}
.ReviewRating {font-weight:bold;}
.ReviewTitle {text-decoration:underline;}
.ReviewText {color:blue;}