body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 26px 0px 49px 48px;padding: 0px;border: none;width: 768px;}
#page_1 #id_1 {border:none;margin: 23px 0px 0px 487px;padding: 0px;border:none;width: 281px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 52px 0px 0px 15px;padding: 0px;border:none;width: 753px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 15px 0px 0px 0px;padding: 0px;border:none;width: 255px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 498px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 16px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_1 #id_4 {border:none;margin: 3px 0px 0px 48px;padding: 0px;border:none;width: 720px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:298px;height:290px;}
#page_1 #dimg1 #img1 {width:298px;height:290px;}



#page_1 #tx1 {position:absolute;top:635px;left:50px;width:360px;height:18px;}

#page_2 {position:relative; overflow: hidden;margin: 26px 0px 72px 48px;padding: 0px;border: none;width: 768px;}
#page_2 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 68px 0px 0px 49px;padding: 0px;border:none;width: 719px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:298px;height:51px;}
#page_2 #dimg1 #img1 {width:298px;height:51px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 19px 'Calibri';line-height: 18px;}
.ft1{font: 19px 'Calibri';text-decoration: underline;color: #0563c1;line-height: 18px;}
.ft2{font: bold 20px 'Calibri';color: #584d91;line-height: 22px;}
.ft3{font: bold 19px 'Calibri';color: #584c8e;line-height: 22px;}
.ft4{font: bold 16px 'Calibri';line-height: 19px;}
.ft5{font: 15px 'Calibri';line-height: 18px;}
.ft6{font: bold 15px 'Calibri';line-height: 18px;}
.ft7{font: 15px 'Calibri';line-height: 18px;}
.ft8{font: 14px 'Symbol';line-height: 17px;}
.ft9{font: 15px 'Calibri';text-decoration: underline;color: #5b9bd5;line-height: 18px;}
.ft10{font: 12px 'Symbol';line-height: 15px;}
.ft11{font: 15px 'Calibri';margin-left: 17px;line-height: 18px;}
.ft12{font: 14px 'Calibri';text-decoration: underline;color: #0563c1;line-height: 17px;}
.ft13{font: 11px 'Calibri';line-height: 13px;}
.ft14{font: 15px 'Calibri';text-decoration: underline;color: #0563c1;line-height: 18px;}
.ft15{font: 1px 'Calibri';line-height: 1px;}
.ft16{font: bold 12px 'Calibri';line-height: 14px;}
.ft17{font: bold 15px 'Calibri';line-height: 16px;}
.ft18{font: 1px 'Calibri';line-height: 9px;}
.ft19{font: bold 14px 'Calibri';line-height: 16px;}
.ft20{font: 1px 'Calibri';line-height: 8px;}
.ft21{font: 1px 'Calibri';line-height: 10px;}
.ft22{font: 12px 'Calibri';line-height: 14px;}
.ft23{font: italic 12px 'Calibri';line-height: 14px;}
.ft24{font: 13px 'Calibri';line-height: 15px;}
.ft25{font: 13px 'Calibri';margin-left: 17px;line-height: 15px;}
.ft26{font: bold 14px 'Calibri';line-height: 17px;}
.ft27{font: 14px 'Calibri';color: #584c8e;line-height: 17px;}
.ft28{font: 14px 'Calibri';margin-left: 13px;line-height: 17px;}
.ft29{font: bold 15px 'Calibri';color: #584c8e;line-height: 18px;}
.ft30{font: italic 14px 'Calibri';line-height: 17px;}
.ft31{font: 13px 'Calibri';margin-left: 14px;line-height: 15px;}
.ft32{font: 13px 'Calibri';margin-left: 13px;line-height: 15px;}
.ft33{font: bold 19px 'Calibri';text-decoration: underline;color: #584c8e;line-height: 22px;}
.ft34{font: 19px 'Calibri';color: #584c8e;line-height: 22px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 24px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 48px;margin-top: 0px;margin-bottom: 0px;}
.p5{text-align: justify;padding-right: 48px;margin-top: 12px;margin-bottom: 0px;text-indent: 48px;}
.p6{text-align: left;padding-right: 114px;margin-top: 44px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 270px;padding-right: 44px;margin-top: 0px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 48px;margin-top: 2px;margin-bottom: 0px;}
.p9{text-align: justify;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;}
.p10{text-align: justify;padding-left: 24px;margin-top: 1px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 48px;padding-right: 108px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p12{text-align: left;margin-top: 34px;margin-bottom: 0px;}
.p13{text-align: justify;padding-right: 44px;margin-top: 56px;margin-bottom: 0px;}
.p14{text-align: left;margin-top: 40px;margin-bottom: 0px;}
.p15{text-align: justify;padding-right: 48px;margin-top: 13px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: left;padding-left: 59px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: left;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: left;padding-left: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: left;padding-left: 487px;margin-top: 0px;margin-bottom: 0px;}
.p27{text-align: left;margin-top: 40px;margin-bottom: 0px;}
.p28{text-align: justify;margin-top: 12px;margin-bottom: 0px;}
.p29{text-align: justify;margin-top: 1px;margin-bottom: 0px;}
.p30{text-align: justify;margin-top: 2px;margin-bottom: 0px;}
.p31{text-align: left;margin-top: 18px;margin-bottom: 0px;}
.p32{text-align: justify;padding-left: 24px;padding-right: 53px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p33{text-align: justify;margin-top: 21px;margin-bottom: 0px;}
.p34{text-align: left;padding-left: 24px;margin-top: 1px;margin-bottom: 0px;}
.p35{text-align: left;padding-left: 24px;margin-top: 2px;margin-bottom: 0px;}
.p36{text-align: justify;padding-left: 24px;padding-right: 207px;margin-top: 19px;margin-bottom: 0px;text-indent: -24px;}
.p37{text-align: justify;padding-left: 48px;margin-top: 3px;margin-bottom: 0px;}
.p38{text-align: justify;padding-left: 72px;padding-right: 100px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p39{text-align: left;padding-left: 49px;margin-top: 60px;margin-bottom: 0px;}
.p40{text-align: left;margin-top: 23px;margin-bottom: 0px;}
.p41{text-align: left;padding-right: 48px;margin-top: 19px;margin-bottom: 0px;}
.p42{text-align: left;padding-right: 48px;margin-top: 54px;margin-bottom: 0px;}
.p43{text-align: left;margin-top: 35px;margin-bottom: 0px;}

.td0{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td1{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 267px;vertical-align: bottom;background: #c1d72d;}
.td2{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td3{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #c1d72d;}
.td4{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;background: #c1d72d;}
.td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;background: #c1d72d;}
.td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;background: #c1d72d;}
.td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;background: #c1d72d;}
.td9{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;background: #c1d72d;}
.td10{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td11{padding: 0px;margin: 0px;width: 267px;vertical-align: bottom;background: #c1d72d;}
.td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td13{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #c1d72d;}
.td14{padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;background: #c1d72d;}
.td15{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td16{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;background: #c1d72d;}
.td17{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;background: #c1d72d;}
.td18{padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;background: #c1d72d;}
.td19{padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;background: #c1d72d;}
.td20{border-right: #000000 1px solid;border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;background: #c1d72d;}
.td21{border-left: #000000 1px solid;border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td22{border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 267px;vertical-align: bottom;background: #c1d72d;}
.td23{border-right: #000000 1px solid;border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td24{border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #c1d72d;}
.td25{border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;background: #c1d72d;}
.td26{border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #c1d72d;}
.td27{border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;background: #c1d72d;}
.td28{border-right: #000000 1px solid;border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;background: #c1d72d;}
.td29{border-bottom: #c1d72d 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;background: #c1d72d;}
.td30{border-left: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td31{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 267px;vertical-align: bottom;}
.td32{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td33{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td34{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td35{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td36{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
.td37{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td38{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td39{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
.td40{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td41{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 267px;vertical-align: bottom;}
.td42{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td43{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td44{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td45{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td46{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
.td47{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td48{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td49{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}

.tr0{height: 18px;}
.tr1{height: 27px;}
.tr2{height: 9px;}
.tr3{height: 17px;}
.tr4{height: 8px;}
.tr5{height: 19px;}
.tr6{height: 10px;}

.t0{width: 671px;margin-left: 24px;margin-top: 31px;font: bold 15px 'Calibri';}
a:visited {color:blue;}
.sirData {border:1pt solid black;padding:5px;font-size:11pt;font-family:calibri;text-align:center;}
.sirData th {padding:10px;}