html, body {height: 100%;}
#admin-wrap {min-height: 100%;}
#admin-main {overflow:auto;
    padding-bottom: 80px;}  /* must be same height as the footer */

#admin-footer {position: relative;
    margin-top: -80px; /* negative value of footer height */
    height: 80px;
    clear:both;}
.inline {display:inline;}
.hidden {display:none;}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

ol, ul {
  list-style: none; }


body {
  font: 16px/1.4 Tahoma, Geneva, sans-serif;
}
img.logo-image{
    max-width:60px;
    max-height: 60px;
}
img.small-logo-image{
    max-width:32px;
    max-height:32px;
}

/* table style from http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ */
table.hor-minimalist-b{
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
    background:#fff;
    width:600px;
    border-collapse:collapse;
    text-align:left;
    margin:20px;
}
table.hor-minimalist-b th{
    font-size:14px;
    font-weight:normal;
    color:#039;
    border-bottom:2px solid #6678b1;
    padding:10px 8px;
}
table.hor-minimalist-b td{
    border-bottom:1px solid #ccc;
    color:#669;
    padding:6px 8px;
}
table.hor-minimalist-b tbody tr:hover td{
    color:#009;
}
td.numeric {text-align:right;}
.selectable{
    cursor: pointer;
}
.styled-select select {
    background: transparent;
    width: 300px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 30px;
}

form label {
  font-weight: bold;
  font-size:16px;
  display:block;
    margin-bottom:5px;
}
form label span {
  display:block;
}
form.normal label span {
    display:inline;
}
input[type="submit"],
input[type="button"]{
  font-size:16px;
  padding: 4px 12px;
}
input[type="text"],
input[type="password"],
select,
textarea{
  font-size:14px;
  width: 300px;
  height:30px;
}
input.wide{
    width:500px;
}
input[type="file"]{
    font-size:1em;
}
textarea{
  width: 450px;
  height:70px;
}
textarea.wide{
    width:500px;
}
textarea.table-cell {display:block;width:100%;height:100%;}
form.override_skel label{
    padding: 6px 4px;
}
form.override_skel .four.columns input {
    width: 200px;
}
form.override_skel .three.columns input {
    width: 130px;
}
form.override_skel .paired.fields input.three.columns,
form.override_skel .paired.fields select.three.columns,
form.override_skel .inline-field select.three.columns,
form.override_skel .inline-field input.three.columns{
    width: 125px;
}
form.override_skel .two.columns input {
    width: 80px;
}
form.override_skel .paired.fields input.two.columns,
form.override_skel .paired.fields select.two.columns,
form.override_skel .inline-field select.two.columns,
form.override_skel .inline-field input.two.columns{
    width: 85px;
}
form.override_skel .paired.fields.columns{
    margin:0 3px;
}
form.override_skel select{
    height: 30px;
    padding-top: 4px;
}
.error{
    font-style: italic;
    color:red;
}
.alert{
  font-style: italic;
  color:orange;
}
.required{
    display: inline;
    color:red;
}
.warning{
  font-style: italic;
  color:orange;
}
.info{
  font-style:italic;
  color:green;
}

a.help-modal, a.help-modal-wide{
    display:inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/help.png) no-repeat left top;
    text-indent: -9999px;
}

#config-forms {
  display:inline-block;
  padding:15px;
}
#config-forms label{
  display:inline;
}
#config-forms fieldset,
#manual-invoicing fieldset,
#admin fieldset{
  display:inline-block;
  background:inherit;
    margin-bottom:5px;
}
#manual-invoicing .invoices{
  margin: 10px 0;
}
#manual-invoicing label{
  margin: 5px 0;
}

table.sales-data {border:solid 2px;border-collapse: collapse;}
table.sales-data thead tr{border-bottom:solid 2px;}
table.sales-data td, table.sales-data th {border:dotted 1px;}
table.sales-data tr.subtotal {border:solid 2px;}
table.sales-data tr.subtotal td {font-weight:bold;}
table.sales-data tr.grand-total {border-top:solid 3px;}
table.sales-data tr.grand-total td {font-weight:bold;}

.two-column-left{
    float:left;
    margin:10px;
    clear:left;
}
.two-column-right{
    float:left;
    margin:10px;
    clear:right;
}
.quick-links{
    position:absolute;
    right:5px;
    top:125px;
    border:2px solid;
    padding:10px;
}
.quick-links h4{
    text-decoration: underline;
    margin:3px 0;
}
.quick-links ul{
    padding:0;
}

/* jQuery ui custom styles override
================================================== */
.button-link .ui-button-text,
.ui-button-text-only .ui-button-text{
    padding:.4em .5em;
    line-height: 1em;
}
.ui-menu .ui-menu-item a{
    line-height: 1em;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .1em .5em;
}

.percentage-value {font-weight:bold;color:#F87217;}
.precentge-slider-wrapper {float:left;margin:-7px 10px 0px 10px;vertical-align:top;}
.percentage-value-slider {float:left;width:75%;}
.fat-slider {margin-bottom:10px;}
.fat-slider .ui-slider {margin:10px;}
.fat-slider .ui-slider .ui-slider-handle{width:30px;height:30px;top: -.4em; margin-left: -.6em;}

.button-link.deprecated{
    background:none;
    color: #aed0ea;
}
.button-link.confirm{
    background:lightGreen;
    color: green;
}
.button-link.cancel{
    background:orange;
    color: red;
}

/* #Tabs (activate in tabs.js)
================================================== */
ul.tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: solid 1px #ddd; }
ul#admin-tabs-bottom {
	border-bottom: solid 0px green;} 
ul.tabs li {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  float: left;
  margin-bottom: 0; }
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 29px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #ddd;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #f5f5f5;
  font-size: 13px; }
ul#admin-tabs-bottom li a {
  padding: 0px 20px 0px;
  border-width: 0 1px 1px 0;
  font-size: 13px; }
ul.tabs li a.active {
  background: #fff;
  height: 30px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #111;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }
ul#admin-tabs-bottom li a.active {
  top: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;   
  
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; 
  
  
  }
ul.tabs li:first-child a.active {
  margin-left: 0; }
ul.tabs li:first-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px; }
ul#admin-tabs-bottom li:first-child a {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px; 	
  border-width: 0 1px 1px 1px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px; }
ul.tabs li:last-child a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }
ul#admin-tabs-bottom li:last-child a {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; 	
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; }

ul.tabs-content { margin: 0; display: block; }
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
ul.tabs:after {
  clear: both; }
ul.tabs {
  zoom: 1; }

/*Admin
 ========================================== */
body#admin h1 {font-size: 28px}
.auth-status {
    float:right;
    margin:10px 10px 0 0;
    font-size:1.2em;
}
#login-form input {width:200px;vertical-align: middle;}
a.log-out {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: url(images/exit.png) no-repeat left top;
    text-indent: -9999px;
}
.make-default-link,
.is-default,
a.delete-link {
    display:inline-block;
    text-indent: -9999px;
}
a.delete-link{
    width: 25px;
    height: 30px;
    background: url(images/delete.png) no-repeat left top;
    background-position: -10px -8px;
}
.make-default-link, .is-default{
    width: 18px;
    height: 18px;
    background-position-y:3px;
}
a.make-default-link, span.make-default-link {
    background: url(images/star.png) no-repeat left top;
}
a.is-default, span.is-default {
    background: url(images/star_green.png) no-repeat left top;
}

/* Nav Menu
 ================================================== */
#nav-menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family:Tahoma, Geneva, sans-serif;
}
#nav-menu li
{
    float: left;
    margin: 0.15em 0.15em;
}
.tabs-content #nav-menu li{
    float:none;
    margin:0.15em ;
}
.tabs-content #nav-menu li a{
     float:none;
}
.tabs-content #nav-menu .back-to-console {
    display:none;
}
#nav-menu .separator{
    margin: 0;
    width:0;
 }
.tabs-content #nav-menu .separator{
    height:0.5em;
}
 
#reportContainer {
	border:0pt solid red;
	width:99%;
}
/* datatables
=========================================*/
.dataTables_wrapper .dataTables_length select{
    width:70px;
}
.datatables #search-inputs input{
    width:100%;
    height:24px;
    font-size:inherit;
}
table.datatable td {

    vertical-align: top;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	font-size: small;
}
table.datatable td.shrink-to-60 img{
    max-height:60px;
}
table.datatable td.shrink-to-200 img{
    max-width:200px;
}

/* wmd markdown editor
 ======================================== */
.markdown-editor{ width: 450px;}
.wmd-button-bar{
    height: 25px;
    width:450px;
    clear:both;
    background-color: #fff;
    margin:10px 0px 1px 0px;
}
.wmd-button-row{
    position:relative;
    padding: 0;
    height: 20px;
    margin:0;
}
.wmd-input {
    width:450px;
    padding: 3px;
    height: 200px;
    line-height: 1.2;
    border:1px solid #999;
    font-size:0.9em;
    background-color:white;
}
.wmd-preview{
    clear:both;
    padding:3px;
    border: 2px dotted #CCC;
    font-size:1.1em;
    line-height:1.3em;
    width:450px;
    background-color:transparent;
}
.wmd-preview pre{
    padding:5px;
    fond-family:Courier New, monospace, serif;
    margin-bottom:10px;
    background-color: #EEE;
    overflow:auto;
    width:auto;
    max-height:600px;
}
.wmd-preview pre code{
    fond-family:Courier New, monospace, serif;
    background-color: #EEE;
}

/* Footer
 ======================================= */
#admin-footer{
    font-family:Tahoma, Geneva, sans-serif;
    clear:both;
    text-align:center;
    border-top:4px solid #203E5F;
    margin-top:5px;
}
#admin-footer ul{
    margin: 10px 10px 0 0;
}
#admin-footer ul li {
    color: #ffffff;
    display:inline;
    margin: 0 5px 0 0;
    font: 20px/1 Tahoma, Geneva, sans-serif;
}

/* tag-it autocomplete
 ========================================= */
.tagit-new input[type=text]{
    font-size: 14px;
    height: 16px;
}

/* charity filter with state
 ========================================= */
#admin-main .location-filter{
    width:345px;
}
#admin-main .charity-search-widget .filter-go .round-green-button{
    top:-3px;
}

/* Product Inventory Datatables
====================================*/
td.details-control, .details-open {
	background: url('//cetdashboard.info/admintest/css/images/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control, div.opened .details-open {
	background: url('//cetdashboard.info/admintest/css/images/details_close.png') no-repeat center center;
}
.detailCountDisplay col:first-child {background: #FF0}
.detailCountDisplay tr:nth-child(even) {background: #CCC}
.detailCountDisplay tr:nth-child(odd) {background: #FFF}
.reorder {border:1pt solid red;color: red;}
.cannotbereordered {border:0pt solid gray; color: gray;}

.edit {
border:0pt solid blue;
float:right;
background-color: white;
height:18px;
cursor: pointer;
position:relative;
right:-12px;
top:3px;
}
.ui-widgetedit{
border:0pt solid blue;
float:left;
background-color: white;

cursor: pointer;
}
.tagLabel {
	padding-top:10px;
}
.tagit {
	position:relative;
	left:-10px;
}

.certDescription {
	font-weight:normal;
	float:right;
}
.employeeDescription {font-weight:normal;}
.employeeName {font-weight:bold;}
.TrainingDepartment {float:left;padding-left:20px;}
